[2016-01-31 04:12] sergey-zero opened #3 "Not working :("
WOW! Super, but not working for me :(
How i can help you to fix this?

[2016-01-31 05:03] iseekwonderful commented on #3
run with root
$ sudo -s

# ./External

[2016-01-31 05:43] sergey-zero commented on #3
ty working perfect

[2016-01-31 05:43] #3 closed

[2016-02-05 10:55] coolkav2012 opened #4 "问题"
我在“terminal”里面写了你所说的，但好像有些问题。大哥请教！
I wrote everything in terminal but i think there's a problem. pls teach !

sudo -s

cd /Users/abc/Library/Developer/Xcode/DerivedData/External-abc/Build/Products/Debug

./External

The pid is -1
[Gaben:WTF]
No root permission
Please run it with root

[2016-02-05 13:39] iseekwonderful commented on #4
你有没有开csgo啊？

[2016-02-05 13:55] sergey-zero commented on #4
Run cs:go first after run hack. try this command

[2016-02-18 22:54] Glyph2 opened #5 "更新"
Csgo更新后就用不了了，怎么更新啊？是不是offset问题？帅哥请教。：）

[2016-02-18 22:55] Glyph2 commented on #5
Cant open the glow hack after new csgo update. Is it because of offset? If so how do you update the offset

[2016-02-19 04:18] iseekwonderful commented on #5
对..我晚点更新一下

[2016-02-19 05:53] iseekwonderful commented on #5
fixed

[2016-02-19 05:53] #5 closed

[2016-02-19 05:53] #4 closed

[2016-02-20 14:31] e-retailer opened #6 "That code runs but nothing it's not working"
Steps i did:
- Build the project.
- Open CSGO.
- Open Terminal
- Go to the build and run it with ./External (as root)

The code runs, showing:
----------updated----------
----------updated----------
----------updated----------
----------updated----------
----------updated----------
...

And when i push CMD + SHIFT + X, i see:
on! and states is 0

But the glow is not showing.

What am i doing wrong

[2016-02-20 15:42] iseekwonderful commented on #6
hello, In my mac it glows when after ./External
if not, please check both the version of this and csgo are newest
if still can't, tell me here and i will update some console log to find the problems

[2016-02-21 18:18] jananne commented on #6
Yes they are both up-to-date. I also tried an older version, still no glow seen. If needed you can look on my macbook to see if you can find the problem. Do you have skype?

[2016-02-24 03:06] CoHuff opened #7 "New update"
Hey, there was a small update today and since i have not been able to get the glow working.

[2016-02-24 03:45] CoHuff commented on #7
p.s I failed my C# class so this would be cool to learn.

[2016-02-24 04:09] ghost commented on #7
The pid is 499
Version: 14, 292 images at offset 0x2000000
[Gaben:] I tell U /Users/***_/Library/Application Support/Steam/steamapps/common/Counter-Strike Global Offensive/bin/engine.dylib
, address is 0x94e8000
[Gaben:] I tell U /Users/**_/Library/Application Support/Steam/steamapps/common/Counter-Strike Global Offensive/csgo/bin/client.dylib
, address is 0x2f800000
glow loop address is 0x0------

[2016-02-24 05:11] ghost commented on #6
mine isnt working either after small update today

[2016-02-24 06:44] iseekwonderful commented on #7
Hi, I have update the offset

[2016-02-24 06:46] ghost commented on #7
Im currently taking computer programmer analyst, if we could talk via skype or something id love to learn.

[2016-02-24 06:46] iseekwonderful commented on #6
I was pretty busy these day, but i update some console log to show some more information, if u see this plz post what u see in ur mac, thx

[2016-02-24 06:59] iseekwonderful commented on #7
yeah, where are u come from?

[2016-02-24 07:15] ghost commented on #7
Ontario, Canada!

[2016-02-24 07:19] iseekwonderful commented on #7
I am in GuangZhou China, and do u use other IM tool other than Skype?

[2016-02-24 07:20] ghost commented on #7
Oh wow awesome! Not currently but im free to download whatever, i have steam obviously aswell.

[2016-02-24 07:33] iseekwonderful commented on #7
All right~, I download Skype and u can add me:  steamedsheep@hotmail.com
and my steam is : http://steamcommunity.com/profiles/76561198248092082/

[2016-02-24 09:03] gabsens opened #8 "Issue with TeamNum"
I've compiled the project and the glow runs just fine, except the team matching does not work at all. When I check the logs in the console, it says

for every players, so everyone (including the enemies) are glowed in blue.

After checking your code, it looks as if the variable `iTeamNum` is not modified at all...

[2016-02-24 10:41] iseekwonderful commented on #8
yeah, some offset goes wrong, fixed

[2016-02-24 11:45] gabsens commented on #8
It works indeed, thanks for the quick fix.
Is there a simple way to read my own teamnumber as well ?  I want to glow only enemies.

[2016-02-24 12:59] iseekwonderful commented on #8
actually the `iTeamNum` is used for check team(3=CT,2=T), and in windows there is a offset called player Base but i fail to find it, and current way to find iTeamNum is stable when playing with bot but in some online multiplayer server. I plan to fixed it  when there are some free time.

[2016-02-24 13:04] gabsens commented on #8
Ok, until you come up with the relevant offset, here is what I've done.  I simply created a global variable `team` that tells which team should be glowed (`team` takes the values 2 or 3). I added a hotkey that changes `team` from 2 to 3 and from 3 to 2. I also added this simple check:
`if (playerTeamNum != team)
            continue;
`

[2016-02-25 02:41] ghost commented on #8
how did you set the hotkey?

[2016-02-25 03:20] ghost commented on #7
another update, and added!

[2016-02-25 16:52] jananne commented on #6
I see it reads the health of the players, but still no glow is seen. I've tried this on a local play against bots. I don't know if that makes any difference. This is what i get in the terminal:

...
----------updated----------
Read player 2 health is 100 team is 2, glow index is 7
glow state is 1, alpha is 0.800000
Read player 4 health is 100 team is 2, glow index is 15
glow state is 1, alpha is 0

[2016-02-25 16:55] ghost commented on #6
Get the newest version it does work. If you need a hand download teamviewer
and I will do it for you
On Feb 25, 2016 11:52 AM, "e-retailer" notifications@github.com wrote:

[2016-02-25 17:01] jananne commented on #6
@CoHuff can you add me on skype? dehaanmedia is my user.
I'll give you my teamviewer info over there, that's more save ;).

[2016-02-25 18:02] ghost commented on #6
resolved

[2016-02-25 18:02] #7 closed

[2016-02-25 19:14] #8 closed

[2016-02-26 09:49] jananne commented on #6
Yes, i consider this issue closed.

[2016-02-26 12:21] iseekwonderful commented on #6
so closed

[2016-02-26 12:21] #6 closed

[2016-02-27 04:31] CoHuff opened #9 "update?"
ill take a look for offset changes once downloaded

[2016-02-27 04:43] #9 closed

[2016-03-03 02:29] CoHuff opened #10 "update"

[2016-03-03 03:18] iseekwonderful commented on #10
updated

[2016-03-03 03:18] #10 closed

[2016-03-07 04:11] ningbo opened #12 "有windows的么，研究下"

[2016-03-07 05:43] ghost commented on #12
Mac only

[2016-03-08 03:11] iseekwonderful commented on #12
windows unknowncheats里面开源的一大把

[2016-03-18 12:06] #12 closed

[2016-03-19 00:38] CoHuff opened #13 "update"

[2016-03-19 07:38] Yakultie opened #14 "Glow loop and updated spam terminal."
Congratulations on your project's opening, but...

I tried sudo -s, I "cd" to directory, I run "./External" still no work.
I open CS:GO before hack inject, still not work.

The pid is 1624
Version: 14, 290 images at offset 0x2003400
[Gaben:] I tell U /Users/Bern/Library/Application Support/Steam/steamapps/common/Counter-Strike Global Offensive/bin/engine.dylib
, address is 0x63b4000
[Gaben:] I tel

[2016-03-19 10:59] iseekwonderful commented on #14
It seem is that u using this app before enter a game, due to the glow class instance may not inited so we cant get glow loop address
try open this when u in a game

[2016-03-19 14:03] Yakultie commented on #14
Thank you so much!

I cannot express my gratitude in words.

[2016-03-19 14:03] #14 closed

[2016-03-24 02:29] ghost commented on #13
^

[2016-03-24 03:19] Yakultie opened #15 "Steam CS:GO New Update"
Please fix software.

[2016-03-24 09:08] ThaddyBear opened #16 "new update hack doesn't work"

[2016-03-24 10:06] #16 closed

[2016-03-26 01:28] ghost commented on #13
^

[2016-03-26 03:10] #13 closed

[2016-03-26 03:10] ghost commented on #15
anotha1

[2016-03-26 04:23] CoHuff opened #17 "New update"
Update :)

[2016-03-27 01:39] Yakultie commented on #15
Another one today.

[2016-03-28 04:11] Yakultie commented on #15
He's not fixing it -.-

[2016-03-28 09:50] ThaddyBear commented on #15
:(

[2016-03-28 15:33] iseekwonderful commented on #15
sorry 2 busy fixed

[2016-03-28 15:33] #15 closed

[2016-03-28 15:33] iseekwonderful commented on #17
fixed

[2016-03-28 15:33] #17 closed

[2016-04-02 09:54] ThaddyBear opened #18 "it works in the terminal but the players in the game doesn't glow, help"

[2016-04-02 09:54] #18 closed

[2016-04-02 09:54] ThaddyBear opened #19 "Doesn't work"
it works in the terminal but it doesn't glow in the game, HELPP

[2016-04-02 09:57] ThaddyBear commented on #19
Its the latest version and i tried multiple times

[2016-04-02 23:35] xfactor00 opened #20 "Need update?"
Do the offsets need updating?

Just tried it with no success.

[2016-04-02 23:35] xfactor00 commented on #20
By the way, good work and great contribution.

[2016-04-03 00:38] ThaddyBear commented on #20
it doesn't work for me as well.

[2016-04-03 08:01] iseekwonderful commented on #20
updated and it should work

[2016-04-03 08:02] iseekwonderful commented on #19
seem i lost last update, and now it should work

[2016-04-03 09:43] SusanooN commented on #20
Yeah! It works perfectly. thanks for creating!

[2016-04-03 10:27] #20 closed

[2016-04-03 10:35] ThaddyBear commented on #19
thnx alot i will close this issue

[2016-04-03 10:35] #19 closed

[2016-04-11 04:54] kschultee opened #21 "Says No root Permission"
Even after setting to run through root, and signing in through root, I receive error saying The pid is 1534
Version: 14, 290 images at offset 0x8fea2a9401803c00
get lists failed
No root permission
Please run it with root
Program ended with exit code: 0

Xcode 7.3 BTW

[2016-04-11 15:06] iseekwonderful commented on #21
hmm, do u open csgo while running this?

[2016-04-11 18:07] kschultee commented on #21
Yes. I actually figured it out about 2 hours after posting it. I just needed to reset the code and re-run the program. Thanks much!

[2016-04-11 18:07] #21 closed

[2016-04-22 06:32] ThaddyBear opened #22 "New update :DD"

[2016-04-22 17:31] iseekwonderful commented on #22
fixed- -

[2016-04-22 23:14] bluew1nter commented on #22
How and where do you find the offsets?

[2016-04-28 08:39] #22 closed

[2016-04-30 04:32] ThaddyBear opened #23 "lol update"

[2016-05-01 03:20] ThaddyBear commented on #23
got new update

[2016-05-01 16:08] iseekwonderful commented on #23
fiexd ~

[2016-05-02 04:57] ThaddyBear commented on #23
THANK U SO MUCH 我爱你

[2016-05-03 15:55] #23 closed

[2016-05-05 09:38] ThaddyBear opened #24 "update"

[2016-05-05 09:39] ThaddyBear commented on #24
i think need update the offset

[2016-05-06 01:02] Freek3 commented on #24
could you let me know when? or an approx. time?

On Thu, May 5, 2016 at 7:39 PM, PenisFace69 <notifications@github.com>
wrote:

[2016-05-06 01:17] Freek3 commented on #24
nevermind, thanks for the update mate :D <3

On Fri, May 6, 2016 at 11:02 AM, Daddy <lachlanca1@gmail.com> wrote:

[2016-05-06 01:24] Freek3 commented on #24
it says i have no root permission, even though i set the scheme as a
root??? help??

On Fri, May 6, 2016 at 11:17 AM, Daddy <lachlanca1@gmail.com> wrote:

[2016-05-06 01:28] Freek3 commented on #24
The pid is -1
[Gaben:WTF]
No root permission
Please run it with root
Program ended with exit code: 0

[2016-05-07 23:49] Yakultie commented on #24
OMG yes I have the same error. I run how I do it normally and still get that error...

[2016-05-08 15:03] iseekwonderful commented on #24
does csgo running while execute this?

[2016-05-13 23:57] brendon111 commented on #24
@iseekwonderful hello, I'm requesting a new fresh hack from you that'll I'll pay via PayPal for. I don't have time to code nor learn C++. I'm asking for a new hack because I'd like this one to be only for me, so it's not publicized and doesn't get into valves system, therefore all I have to do is worry about Overwatch ban. Thank you, and please get back to me and tell me if you're interested. (btw

[2016-05-14 08:51] iseekwonderful commented on #24
@brendon111 send a mail to sss3barry@gmail.com with the detailed info

[2016-05-14 08:51] #24 closed

[2016-05-20 01:50] tr1kyyy opened #25 "CS:GO Update Killled csgoGlow"
Counter-Strike: Global Offensive update for 5/19/16 (5/20/16 UTC, 1.35.3.4) has rendered this mod useless. The console says there is an issue with the memory addresses, which I believe the update changed. I'm sure this is a simple fix,but I have no idea how to fix this however. If this gets working again, it would be awesome!

[2016-05-20 04:06] iseekwonderful commented on #25
i will fix this when I arrived home tonight

[2016-05-20 04:13] ghost commented on #25
iseek your work is incredible. The hack worked flawlessly for three weeks on several of my accounts. I genuinely appreciate the time you have spent developing this. Thank you.

[2016-05-20 17:09] iseekwonderful commented on #25
fixed

[2016-05-20 17:09] #25 closed

[2016-05-26 02:22] tr1kyyy opened #26 "CS:GO Update Killled csgoGlow"
New update has made csgo 64 bit. Does this kill the hack entirely, as in, does the code need to be complete rewritten? Or is there a simple fix?

[2016-05-26 06:54] Freek3 commented on #26
csgoglow: The pid is 24475
faildNo root permission
Please run it with root
Program ended with exit code: 0

help??

[2016-05-26 07:59] iseekwonderful commented on #26
this should take some time to go to 64bit, also amazing! valve finally make it to 64 bit!

[2016-05-26 08:00] iseekwonderful commented on #26
could anyone tell me that if windows now 64bit or already in 64bit?

[2016-05-26 09:59] ThaddyBear commented on #26
it says csgo_osx64

[2016-05-26 13:53] Yakultie commented on #26
I read on reddit there's a launch option to set CS:GO to 32 bit (but probably for Windows only), it's:
`-32bit`
You can enter it in "Launch Options" after right clicking the game in Steam Library and selecting "Properties".
But still: same error appears.

[2016-05-26 13:53] Yakultie commented on #26
Very well played, Steam and Valve. _clap clap_

[2016-05-26 14:54] iseekwonderful commented on #26
by entering -32bit I still launch csgo_osx64

[2016-05-26 20:32] ghost commented on #26
Is there any way to revert to an older version of cs:go?

[2016-05-26 23:50] ghost commented on #26
so is the hack not working at this time? will there ever be a fix?

[2016-05-27 00:19] Freek3 commented on #26
will there be a fix? and if so, when?

[2016-05-27 01:38] iseekwonderful commented on #26
there will be but i dont know when it will come...

[2016-05-27 11:50] Freek3 commented on #26
thanks, ily and good luck with the fix <3

[2016-05-27 17:34] ghost commented on #26
Someone should try to find a way to run 32 bit csgo.

[2016-05-28 15:47] ghost commented on #26
Do u have a set date of when it will be fixed?

[2016-05-28 15:48] ghost commented on #26
Just got the hack to work, and now this is happening :/

[2016-05-30 07:45] e-retailer commented on #26
Can i be the one that makes you sad people smile again?

Here is the solution:
1. Download older version: Library->CSGO Properties->BETA tab->Choose: 13532
2. Copy the 32bit executable to a temp folder
3. Revert the 1st step: Library->CSGO Properties->BETA tab->Choose: NONE
4. Copy the 32bit executable to the game dir
5. Open csgo.sh in the game dir
6. Change csgo_mac64 to csgo_mac
7. Launch the g

[2016-05-30 08:06] ghost commented on #26
Ily <3

[2016-05-30 08:48] ThaddyBear commented on #26
what is the 32 bit executable

[2016-05-30 08:49] e-retailer commented on #26
csgo_mac

[2016-05-30 08:50] ThaddyBear commented on #26
i don't see cogs_mac

[2016-05-30 08:51] ThaddyBear commented on #26
is it csgo_osx?

[2016-05-30 08:55] e-retailer commented on #26
yes, sorry

[2016-05-30 08:55] e-retailer commented on #26
I've updated my comment

[2016-05-30 08:59] ThaddyBear commented on #26
dude ur a genius fucker

[2016-05-30 16:11] brendon111 commented on #26
where do i find the 32bit executable and also where do i find the game dir?

On Mon, May 30, 2016 at 1:59 AM, PenisFace69 <notifications@github.com>
wrote:

[2016-05-30 16:22] brendon111 commented on #26
i found 32bit executable and is that the game dir? with bin, chrome.pak,
csgo, ect. i tried opening csgo.sh and all i get is a bunch of scripts.
please help, im desperate,

On Mon, May 30, 2016 at 9:11 AM, . . <brendonmillington11@gmail.com> wrote:

[2016-05-30 16:27] brendon111 commented on #26
I'm stuck on 4./5. Where Tf do I find game dir.

[2016-05-30 16:33] ghost commented on #26
please if you could just make a video tutorial and send it to my email,
brendonmillington11@gmail.com

On Mon, May 30, 2016 at 9:21 AM, . . brendonmillington11@gmail.com wrote:

[2016-05-30 17:46] e-retailer commented on #26
Add me on steam, then we'll talk: [http://steamcommunity.com/id/hardfacenl/](url)

[2016-05-30 19:55] ghost commented on #26
Added you

[2016-05-30 19:56] ghost commented on #26
I'm Yung Mac God

[2016-05-30 20:43] ghost commented on #26
Still haven't added me.

[2016-05-31 00:58] Freek3 commented on #26
e-retailer you fucking legend, thank you so much mate!

[2016-05-31 01:43] ghost commented on #26
I still don't have it working :(

[2016-05-31 15:37] extrenebiibues opened #27 "How do i run them?"
i run them and it says it was successful or something but no walls? is this cuz of 64bit update? Can you give us a tutorial

[2016-05-31 16:03] ghost commented on #27
Ill make a tutorial on youtube if @iseekwonderful doesn't mind. There are a few loopholes you have to get through now. The 64 update makes the walls not work, but you can revert to 32 bit easily.

[2016-06-01 02:44] ThaddyBear commented on #26
i cannot connect to any game if i change to the 32 bit, it was working initially but after the recent update i cannot connect anymore.

[2016-06-01 02:54] ThaddyBear commented on #26
it says server uses different class tables :/

[2016-06-01 06:45] Freek3 commented on #26
Same :(

On Wednesday, 1 June 2016, PenisFace69 notifications@github.com wrote:

[2016-06-01 17:55] ghost commented on #27
@tr1kyyy do you mind if you put the video unlisted and then post the link of the video on this issue, so not many other people see it, because if it's public it could go viral.

[2016-06-01 20:22] extrenebiibues commented on #27
just do whatever please i need this asap and so many people will benefit

[2016-06-01 20:22] extrenebiibues commented on #27
just post it asap loads of people want it

[2016-06-01 20:22] #27 closed

[2016-06-01 23:22] ghost commented on #26
@e-retailer I did everything in your instructions and when I run it in game I get
The pid is 2107
Ect ect

[2016-06-01 23:22] ghost commented on #26
Someon who got it to work, please help me

[2016-06-01 23:24] ghost commented on #26
And when I try to play a online game, I get Disconnected, Server uses different class tables. Before I was just playing  bots and the glow would even work to begin within

[2016-06-03 20:10] ghost commented on #26
Anybody have this currently working?

[2016-06-03 20:25] jananne commented on #26
There is NO fix. Just wait until the next update.

[2016-06-03 21:35] ghost commented on #26
Is @iseekwonderful even there anymore? I haven't seen him comment in awhile.

[2016-06-03 21:59] jananne commented on #26
If there is no info to update you with, why should he bother commenting. Have patience.

[2016-06-04 16:38] iseekwonderful commented on #26
so sorry for 2 busy
so finally~ hello world 64bit csgo!

[2016-06-04 16:38] #26 closed

[2016-06-04 17:16] brendon111 opened #28 "No Issue, Thanks"
I don't have an issue, I just wanted to thank you for doing this @iseekwonderful it really means a lot you take time out of your day to do this for us.

[2016-06-04 21:32] ghost commented on #28
Same. I'm so fucking hyped this got released.

[2016-06-05 07:38] Galenika commented on #28
Hey could you guys help me put : makikg@gmail.com

[2016-06-10 00:40] brendon111 opened #29 "Not working anymore"
Not working for me anymore at the time of this post. Anyone else having a problem?

[2016-06-10 03:36] #28 closed

[2016-06-10 15:24] ghost commented on #29
Anyone?

[2016-06-10 15:52] Freek3 commented on #29
yeah

[2016-06-10 15:54] ghost commented on #29
I think it's outdate offsets and needs an update.

[2016-06-10 18:07] Galenika commented on #29
yes doesnt work .. damn :(

[2016-06-11 03:23] buzzel opened #30 "Issue"
After some digging it appears that the issue with latest update for CSGO is that writing the glow effect seems to fail. When checking the value from `getEntityGlowLoopStartAddressAndCount` it is returning 0 so I am assuming it cant find the glow resources or cant read the info needed to get the glow value from.

Update: Further investigation has lead me to this line `auto reAddress = Utils::ReadMe

[2016-06-11 05:44] ghost commented on #30
Maybe an internal code so, offsets don't have to always be updated. Idk how hard that is though because I don't code.

[2016-06-11 16:30] gabsens commented on #30
The only issue is the outdated offsets.

[2016-06-11 17:49] ghost commented on #30
Yep exactly. I dont know enough to get in there and find them I've decompiled it and started looking around and tried using byte slicer but haven't been able to found any of the offsets

[2016-06-12 10:02] gabsens commented on #30
the GlowPointer offset is a level-two pointer, which makes quite hard to find with bitslicer... Anyway after some hours of work, here is the new glow offset: 0x5945FF0

And the new local player offset (a very easy one): 0x5136728

[2016-06-12 17:35] ghost commented on #30
@gabsens How did you find these? I'd like to know so I can do it in the future.

[2016-06-12 19:34] brendon111 commented on #30
So how do I fix this? I'm sorry, I'm not good with this at all.

[2016-06-12 19:55] ghost commented on #30
@brendon111 Just replace line 18 in main.cpp with `uint64_t glowInfoOffset = 0x5945FF0;` and it will work. I didnt have to use the local playerOffset that @gabsens found to get it to work, however it seems that the glow now applies to every player on the map, not the oposing team. Am I just tripping, or was it always like that?

[2016-06-12 19:59] ghost commented on #30
@gabsens Offset adjustments were just merged into the master repo, so you can now just pull the changes and be good to go!

[2016-06-12 19:59] ghost commented on #29
Pull the changes from the master branch. Everything is working once again thanks to @gabsens :)

[2016-06-13 00:12] ghost commented on #30
@buzzel I only get enemy team to glow, not my team too. Idk why yours is doing that

[2016-06-13 00:12] #29 closed

[2016-06-13 02:13] ghost commented on #30
What ranks are you guys :P

[2016-06-13 02:22] ghost commented on #30
@brendon111 @brendon111 just use this:

uint64_t glowInfoOffset = 0x5945FF0;
uint64_t playerBaseAddress = 0x5136728;
uint64_t playerBase = 0x50b2e78;

These addresses should match yours, and if not, change them. Thanks @gabsens for finding the new addresses.

[2016-06-13 18:57] gabsens commented on #30
Let me tell you about LocalPlayer offset.

Valve implemented a LocalPlayer class along the lines of

`class LocalPlayer{
int SomeAttribute;
float AnotherAttribute;
...
;int MyTeamNumber;
int SomeInt;
int MyHealth;
... ;
}`

Reversing shows that `MyHealth` is always `0x12C` bytes away from the start of the LocalPlayer (and `MyTeamNumber` is therefore `0x124`bytes away).

Grabbing the memory locatio

[2016-06-14 04:15] ghost commented on #30
Btw one important thing to note is sometimes starting and stoping the script will create multiple overlapping processes. To fix this (they may be running right now with Xcode closed and steam closed) go to Activity Monitor, search for "wall", force quit these processes with this name. This will SIGNIFICANTLY increase your fps. In only a few multi hour sessions your fps will slowly drop as these pr

[2016-06-14 05:09] gabsens commented on #30
@tr1kyyy To begin with I recommend rewriting the code from scratch with cleaner structures, so that you can easily implement other features such as bunnyhop or triggerbot.

Regarding performance, there's some obvious waste of CPU time at the very end of the source code. The program is telling the CPU to sleep for **100 MICROSECONDS**  between each call to the glow function. That's so very short of

[2016-06-14 18:51] ghost commented on #30
@gabsens I changed the usleep. Isn't that the refresh rate essentially of determining player health? So I have to wait 8 seconds between a player health update from the glow feature?

[2016-06-14 19:16] gabsens commented on #30
@tr1kyyy each iteration of the `while` loop refreshes everything at once: health, teamnum and glow.

`usleep(8000)` says "sleep for 8000 **_micro_**seconds", that is to say 80 milliseconds. The refresh rate for the hack is therefore 80 milliseconds. Like I said, CSGO refresh rate is at best 1/128 = 78 milliseconds.

[2016-06-14 20:52] ghost commented on #30
@gabsens Ahh I didn't realize the usleep was measured in mircoseconds and not miliseonds. Also, would hacks programmed in c++ for windows be easily ported to mac? For example this bhop script, if the offsets were redefined and some other small issues fixed, would it work for a mac client?: https://www.youtube.com/watch?v=q78Fh1mrOU4.

[2016-06-15 00:12] ghost commented on #30
Also the cheats seem to randomly turn off in game every 5-10 minutes? Are the offsets changing as I play?

[2016-06-15 03:59] ghost commented on #30
@tr1kyy
Tell me if you ever get a bhop script via Xcode.

[2016-06-15 05:44] gabsens commented on #30
@tr1kyyy bhop, triggerbot, noflash are easy to implement externally on Windows, and there's little difference on OSX. You only need to get the relevant offsets, and think about how to access process memory and run concurrent threads on a Mac.

You will encounter insane CPU and RAM usage if you don't do things carefully.

[2016-06-15 09:18] iseekwonderful commented on #30
@gabsens thank for ur offsets, and I invite u as a Collaborators and it will be my pleasure if u can join this project.
And i think the implementation of csgo in openGL is retard and we need to pay more attention to the profermance
@tr1kyyy do u mean it closed or crash down?
BTW, i am not a native english, so what does bhop mean?

[2016-06-15 09:21] iseekwonderful commented on #30
And does anyone successfully hook create move in osx, i found and hook enginetrace.reaceray but failed to find the address of createmove, if anyone does, please tell me

[2016-06-15 20:43] ghost commented on #30
@iseekwonderful Bhop is bunnyhop. Example of a bhop script: https://www.youtube.com/watch?v=NdGjkBHhf4A

[2016-06-15 20:48] ghost commented on #30
@iseekwonderful The script stays open, but in-game they stop working, so I have to turn them off and on again. Not a huge issue. Happens roughly every 15 minutes.

[2016-06-15 20:55] ghost commented on #30
@gabsens @iseekwonderful I know very little about c++, but by utilizing the  Utils.cpp and Utils.hpp I can insert the bhop script and add the needed offsets. I have bit slicer and can find those. @gabsens @iseekwonderful  Ill upload it here, mind taking a look and telling me why it's not functioning? (I have no expectations for it to work) This would be the first step I believe in building a bhop

[2016-06-16 04:10] ghost commented on #30
@gabsens Any chance you can find the new offsets for tonights update?

[2016-06-16 05:10] ghost commented on #30
@buzzel @gabsens yes that would be very awesome and convenient if you could get that done by tonight.

[2016-06-16 05:11] ghost commented on #30
@brendon111 @gabsens You would be a hero!!

[2016-06-16 05:18] tr1kyyy commented on #30
@buzzel @brendon111 I'm trying to find the LocalPlayer offset. I have no idea what that offset even represents though...

[2016-06-16 05:18] ghost commented on #30
I'm trying to find it as well, but I dont do this sort of things so I am new to it

[2016-06-16 05:21] ghost commented on #30
@gabsens @buzzel When looking for the MyHealth offset but I find 20 different offsets -_-. How do I find the source offset?

[2016-06-16 05:21] tr1kyyy commented on #30
@buzzel You have skype or something? I'm 17 btw.

[2016-06-16 05:21] ghost commented on #30
@tr1kyyy What are you searching to find that? I havent gotten that far

Update: No, I dont use Skype. I'm staying anonymous from all my personal info with this kind of stuff

[2016-06-16 05:21] tr1kyyy commented on #30
@buzzel What's your steam?

[2016-06-16 05:22] ghost commented on #30
@buzzel I'm just hurting myself, searching for new health, hurting myself, searching for new health. After 3 rounds of this you get about 20 offsets for MyHealth.

[2016-06-16 05:23] tr1kyyy commented on #30
@buzzel Want to add me on steam to discuss? Lol I have hardly a clue what I'm doing.

[2016-06-16 05:23] ghost commented on #30
@tr1kyyy I mean, what are your params in Bitslicer? Send a screenshot?

[2016-06-16 05:24] tr1kyyy commented on #30
@buzzel http://steamcommunity.com/id/TheS4ndstorm/

[2016-06-16 05:24] tr1kyyy commented on #30
@buzzel I'll send a screenshot, one sec

[2016-06-16 05:28] ghost commented on #30
@buzzel http://prntscr.com/bgz0xm

[2016-06-16 05:50] ghost commented on #30
@tr1kyyy Have to wait for @gabsens. I get over 35k results

[2016-06-16 06:01] ghost commented on #30
:(

[2016-06-16 06:12] gabsens commented on #30
@buzzel new LocalPlayer is 0x51379F8

I'll investigate Glow when I'm home tonight, that it to say in 10 hours.

[2016-06-16 06:19] ghost commented on #30
@gabsens Awesome, thanks so much! How do you find these so easily?

[2016-06-16 07:58] ghost commented on #30
@gabsens What exactly is a "pointer"? Is that an offset that references another offset?

[2016-06-16 15:39] ghost commented on #30
@tr1kyyy A pointer is a variable that essentially contains a memory address of another variable.

[2016-06-16 18:43] ghost commented on #30
@buzzel Ohh so it does reference other offsets. But out of a bunch of similar offsets how do I determine where the pointers are referencing?

[2016-06-16 18:50] ghost commented on #30
@iseekwonderful @gabsens Could you explain how the offsets are found. I don't know how to find the source offset out of a bunch of pointers :(.

[2016-06-17 01:41] ghost commented on #30
There was another update for CSGO today. @gabsens If you wouldn't mind :)

Update: Tonights update didn't seem to break any of the offsets from an earlier commit 👍

[2016-06-17 07:53] gabsens commented on #30
@tr1kyyy @buzzel Once  you've scanned for your health, you're left with 20 addresses at first sight. Nevertheless, you'll notice that out of these 20, 10 are updated only when you exit or minimize the game window. You have to manually erase these addresses, and that leaves you with 10 addresses. Out of the 10 remaining ones, you have to look for addresses that correspond with the LocalPlayer struc

[2016-06-17 14:23] ghost commented on #30
@gabsens Thank you so much, I'll give this a try when I'm back from vacation.

[2016-06-19 19:28] gabsens opened #33 "Tutorial: updating offsets"
Here you go:

Finding LocalPlayer offset https://www.youtube.com/watch?v=Uv5tJXA04zU
This is the offset referenced as `LocalPlayerBase` in the source

Finding Glow offset https://www.youtube.com/watch?v=3HhD7WNzSno

Please Label this issue with **Enhancement** or **Help Wanted**

[2016-06-19 19:29] gabsens commented on #30
@tr1kyyy @buzzel see https://github.com/iseekwonderful/csgoGlow/issues/33

[2016-06-20 06:59] Freek3 commented on #33
Thanks babe

[2016-06-21 04:24] ghost commented on #33
@gabsens so does this mean you will no longer updating offsets on github?

[2016-06-22 08:30] gabsens commented on #33
@brendon111 the method to update offsets is now public knowledge, so why should I bother ?

[2016-06-22 10:52] ThaddyBear commented on #33
pls help us also :DD

[2016-06-22 10:52] ThaddyBear commented on #33
@gabsens

[2016-06-22 19:59] ghost commented on #33
@gabsens well this might sound embarrassing, but I can't really update the offsets. I play on a family i Mac and my mom has restrictions on it. Basically when I try to download bit slycer it asks for administrator username and password. I don't know this and my mom won't tell me and I already tried to convince her to download it for me but she won't. The only reason I have steam and xCode download

[2016-06-22 23:07] flipembois commented on #33
@brendon111 @ThaddyBear
These are the updated offsets, just copy it into your main.cpp code
Glow Offset = 0x59472C0;
Local Player Offset = 0x51379F8;

[2016-06-23 03:04] ghost commented on #33
Yeah ik, these are the current ones.. @flipmebois

[2016-06-25 02:59] ghost commented on #33
There has been a new update, please someone come in clutch. I'm begging you @flipembois @gabsens

[2016-06-25 04:03] ghost commented on #33
i'm hopeless

[2016-06-25 04:21] ThaddyBear commented on #33
@gabsens

[2016-06-25 06:45] ghost commented on #33
@flipembois I havent had a chance to see if I can get the offsets, have you managed to get tonights updates?

[2016-06-25 15:03] Freek3 commented on #33
When is this update coming :)

[2016-06-25 15:56] gabsens commented on #33
LocalPlayerBase 0x5138BA8

Glow 0x5948470

I won't be posting offsets in the future as it completely defeats the purpose of the tutorials I spent time working on.

[2016-06-25 16:32] ghost commented on #33
@gabsens Thats completely understandable! Thanks again for doing this. Also, great job on those tutorials.

[2016-06-25 16:36] ghost commented on #33
Thanks @gabsens and like @buzzel said it's completely understandable.

[2016-06-25 17:17] Freek3 commented on #33
@gabsens Thanks mate, all good 👍

[2016-06-25 17:50] Freek3 commented on #33
Will there be a file update? I'm having problems inserting the offsets :(

[2016-06-25 19:02] Wolf-88 opened #35 "Code not working"
I believe this is more then the off sets, because the new ones arent working, I have come across 8 issues, detecting players and health, the glow seems to be fine

[2016-06-25 19:03] Freek3 commented on #35
Yes i believe i'm having the same issue. help?

[2016-06-25 20:05] ghost commented on #35
Yeah, I think there is something else wrong here. I updated the offsets with @gabsens new ones and it still wasn't working.

[2016-06-25 20:15] Freek3 commented on #35
@buzzel Same with me :/ Pls @gabsens halp

[2016-06-25 20:54] ghost commented on #35
Same

[2016-06-25 20:57] gabsens commented on #35
On line 20 change `playerBase` offset to 0x50B51F8

The guy named playerBase what the rest of the world names EntityList ...

[2016-06-25 21:05] K2QGIT commented on #35
Thank you and praise be unto @gabsens Its working! and yeah that is weird that the coder did that

[2016-06-25 21:08] ghost commented on #35
@gabsens a true legend <3 ily

[2016-06-25 21:16] Freek3 commented on #35
@gabsens back to save the day! xxox

[2016-06-25 21:32] ghost commented on #35
@gabsens for mayer!

Thanks a million! How did you manage to find that one?

[2016-06-26 07:30] gabsens commented on #35
@buzzel this offset is related to the entity list. The real question is why is it even used in the code ? Once you have the GlowEntity you're given a PointerToEntity which points to the PlayerBase. You can retrieve team and health from that PlayerBase.

There's literally no reason for accessing the EntityList... But the author will turn a blind eye to this as well. I see you have coding skills, an

[2016-06-27 21:00] ghost commented on #35
@gabsens I've been programming for several years. C++ isn't my forte but I understand it enough. I've been tempted to rewrite this in Obj-C++ and actually make an app out of it, vs just an executable.

What other features do you suggest? I'm thinking Aimbot and such, but that kind of stuff is useless to me. What are some of the other useful CSGO hacks that are around?

[2016-06-28 01:44] ghost commented on #35
@buzzel aimbot, trigger bot, bhop, spinbot, no flash effect, and I even saw an Overwatch case where a guy had a teleportation hack, and was playing on cache, and would teleport from T spawn to sand bags right when the game started. but yeah those are all the hacks I can think of rn, excluding wall.

[2016-06-28 07:31] Wolf-88 opened #36 "Debugger keeps coming up"
I Dont know if this is happening for everyone, but X-code will run fine for about 30 seconds then it will come up with the debugger and 10-20 lines needed to be fixed. Thanks to everyone on this discussion for previous help aswell.

[2016-06-28 14:36] gabsens commented on #36
Screenshots of the debugger output ?

[2016-06-28 16:27] K2QGIT commented on #36
<img width="1024" alt="screen shot 2016-06-28 at 10 24 23 am" src="https://cloud.githubusercontent.com/assets/20144499/16423789/b2714282-3d1a-11e6-84ca-28ccad5d1116.png">

Comes up any time a key is pressed in game, this is beyond me.

[2016-06-28 17:30] gabsens commented on #36
It looks like you set a breakpoint on the green line, try to remove it.

Besides, you're not supposed to run the program within Xcode. You're adding overhead from Xcode debugger when doing that. Just sudo the executable from a Terminal window.

[2016-06-28 17:45] ghost commented on #35
Would this be safe to use on Faceit servers?

[2016-06-28 18:03] K2QGIT commented on #36
doesnt running it in root do the same thing? also, I never touched the code so I dont know what was changed haha

[2016-06-28 18:12] gabsens commented on #35
@brendon111 glow only is safe. Triggerbot or Norecoil will get you banned if not done properly

[2016-06-28 18:25] gabsens commented on #36
Xcode takes up 600MB of RAM on my device, and the debugger is burning some CPU time.

If you have a powerful iMac, then fine. But on a MacBook like I have you can't afford that.

[2016-06-29 00:15] Freek3 commented on #35
@gabsens I'm wanting a trigger/aimbot for offline usage, completing challenge coin missions etc. To use any hacks other than glow on a mm server is a bad move, you're asking for a ban hahaha

[2016-06-29 02:05] ghost commented on #35
Those kind of things is what I am worried about. I dont wanna get banned or cheat that hard. Walling is helful for me as the players just stand out for me, and thats all I need. Looking through walls doesnt matter so much to me.

BTW: There was a CSGO update tonight so if anyone wants to give @gabsens's tutorials a try, feel free. I dont have time tonight to find the offsets so I can take a look t

[2016-06-29 02:15] ghost commented on #36
@Wolf-88 You have a breakpoint set. The little blue arrow pointing to `bool cmd = false`, right click on it and choose remove.

[2016-06-29 03:56] ghost commented on #35
@gabsens You tuts are spot on! GlowEntity was weird as fuck, but I got it working.

`uint64_t glowInfoOffset = 0x5948500;
uint64_t LocalPlayerBase = 0x50B5288;`

The player base I couldnt find

[2016-06-29 04:05] flipembois commented on #36
@gabsens I play on the MacBook as well, can you tell me how to sudo the executable from a terminal window?

[2016-06-29 05:18] ghost commented on #36
@flipembois type `sudo` then drag the compiled executable into terminal and hit enter

[2016-06-29 06:01] gabsens commented on #35
Good job, these are the right offsets. PlayerBase (Entitylist) should be 0x50B5288

[2016-06-29 06:11] flipembois commented on #36
@buzzel  what is the compiled excecutable? Sorry but I'm kind of computer stupid

[2016-06-29 06:14] Wolf-88 commented on #36
also, there was an update and the offsets need to be updated, stupid valve.

[2016-06-29 08:33] Freek3 commented on #35
@buzzel Great work :D xox

[2016-06-29 09:08] K2QGIT commented on #35
it makes everyone glow, even own team

[2016-06-29 14:38] ghost commented on #35
@Wolf-88 Set the playerBase to @gabsens offset, that should work. I'll look at the code later and see if there is a check I can put in there to avoid using the entitylist and not make your team glow.

@gabsens Off the top of your head, do you have any ideas?

[2016-06-29 15:22] gabsens commented on #35
@buzzel There's no one-liner fix unfortunately. Take a look at `readPlayerPointAndHealth(...)` The author chose to loop through the entitylist, check is each entity is a player, check if the entity is on your team and then glow it. The link between Entitylist and GlowEntityList is done through `int glowIndex`.

If you want to get rid of the EntityList, you have to loop through the GlowEntityList (

[2016-06-29 16:38] asiano commented on #35
Hey guys i just made an account to ask this question. I just found these havks after weeks of searching, and i was wondering how to officially run them and make them work? Do i inject it somewhere or do i run it with xcode (if i can)? Please let me know how to get started!

[2016-06-29 16:46] K2QGIT commented on #35
@asiano read the text document associated with the files, if there is other questions, most have been answered in some thread or another, I know I ask a lot of questions.

@gabsens Whats interesting if youve noticed is, when glowing the entire entity list, the glow in game is very strong i.e. see across entire map for people, whereas before it was aprox 30m in game you could see through.

[2016-06-29 16:55] asiano commented on #35
I did read it and all it said was start it in root. I dont really know how to do that or what that means. I also dont know how to start running it or activate it to start. Please help!

[2016-06-29 17:03] K2QGIT commented on #35
1. Download X-Code
2. What type of Mac determines execution (Terminal/X-code based on CPU usage)
3. Download files
4. If running in X-code, Go to Product ----> Scheme-----> Edit Scheme-----> Root
5. Update offsets as necessary
6. Enter game, press play, enter password
7. If game crashes, 'too much CPU usage' (Compile an executable and sudo in terminal)

Instructions thanks to:
@buzzel  @gabsens

[2016-06-29 17:09] asiano commented on #35
Thank you so much for your help, ill try it as soon as i go home tonight and let you know how it works

[2016-06-29 17:11] asiano commented on #35
Do you think you can ellaborate on entering game and press play and putting in my pasaword? Do i press play in xcode? Do i put my password in xcode?

[2016-06-29 17:41] asiano commented on #35
Also i just realized that using xcode probably wouldnt do my cpu much good so how would i go about doing this on the terminal?

[2016-06-29 18:10] asiano opened #37 "*Noob Question Beware* How to run the hack with terminal"
Hey guys im quite a noob to coding and hacking and i was wondering how i "create an executable and run with sudo" since xcode will degrade my fps. Is there a step by step on what to put in the command line and how to do it? Im sorry for such a basic question.

[2016-06-29 21:01] ghost commented on #35
I just run it through Xcode, after all, I am on a maxed out 5K iMac so I dont notice anything. I usually have several projects open in Xcode and Photoshop or some other high intensive app. I have noticed that if I run this through terminal I tend to lose FPS. Also, the executable seems to hang if you quit it and you can end up running 2-3 instances of it. Check your Activity monitor or run `killal

[2016-06-29 21:03] ghost commented on #37
Build the executable in Xcode, once you do that under the products tab you'll see something called `Wall`. Right click and choose show in finder. After that, open terminal and type `sudo` then drag the executable into the terminal window. It will then look something like this: `sudo /path/to/executable/Wall` then hit return, enter your password and you're good to go.

NOTE: I found it more effecti

[2016-06-30 00:19] asiano commented on #37
How do i build an executable?

[2016-06-30 01:30] ghost commented on #37
Open the project in Xcode and hit Command + B

[2016-06-30 01:37] asiano commented on #37
How do i go about building after that?

[2016-06-30 02:33] asiano opened #38 "How secure is this hack?"
Has anyone been banned for using this in matchmaking? Is this safe enough to use during matchmaking?

[2016-06-30 02:37] ghost commented on #35
Yeah, I have all updated offsets, and still get my team to glow too. Also, it is quite peculiar that the glow works better and more thoroughly when both you and your team are glowing, as @Wolf-88 noted.

[2016-06-30 02:38] ghost commented on #35
@gabsens I also have an iMac but I believe 4K, how much fps are you getting while running the glow? I get around 150, and I have 4:3 and the 1344:something resolution.

[2016-06-30 02:49] asiano commented on #35
I have a mac air, 50-60 for me, guesing this will bring it down alot

[2016-06-30 03:22] #38 closed

[2016-06-30 03:27] asiano opened #39 "Four issues? Yellow triangles?"
Hi i have four issues that pop up when playing the script. One says to replace "%u" with "%lu". The other one is on line 275 and says to replace %x with %llx and it doesnt even say %x. And the last two both have messages saying unsed variable. One on line 177  saying unised variable kr3 and the other one on line 321 saying unused variable g. If anyome knows how to help please do!!

[2016-06-30 03:32] asiano commented on #39
Okay figured out the %xl stuff but i still cant seem to get the hack to work or the unused variables to be fixed. It seems that when i try to play it the map on the top right corner disappears but no glow? Any help?

[2016-06-30 03:53] ghost commented on #35
@asiano
Try changing from 16:9 to 4:3. If you already have done that, lower the resolution too.

[2016-06-30 03:54] ghost commented on #35
Also do you guys think the cevo anti cheat will detect this? (An addition to VAC)

[2016-06-30 03:58] ghost commented on #35
@gabsens Question: Under the method testLocalPlayerAddress() the iTeam value returns 0. Whats Whats missing there to grab the team number?

[2016-06-30 03:58] asiano commented on #35
How safe is this to play in competitive? Just wondering?

[2016-06-30 04:02] ghost commented on #35
idk, I only use it when im messing around

[2016-06-30 04:05] ghost commented on #35
fine to use in comp @asiano

[2016-06-30 04:07] ghost commented on #37
you would be better off running it in xCode, if you are having help still add me, https://steamcommunity.com/id/Brendxn

[2016-06-30 04:27] asiano commented on #35
Hey guys! Ive got it to work with xcode but it says the directory or file could not be found when i use terminal. I did exactly what buzzel told me to do (thank you so much by the way), yet i cant seem to get it to work on terminal. Please help lol.

[2016-06-30 04:28] ghost commented on #35
@asiano why can't you just stick to Xcode?

[2016-06-30 04:29] asiano commented on #35
It crashes evwry time

[2016-06-30 05:08] gabsens commented on #35
@buzzel on line 289 there's a wrong offset, it should be 0x124 instead of 0x120.

 0x12C-0x8=0x124

[2016-06-30 15:15] asiano commented on #37
can anyone help with the terminal issue?

[2016-06-30 15:16] ghost commented on #35
@gabsens I'll give that a try. Thanks

[2016-06-30 15:40] asiano commented on #35
Can anyone give me assistance in trying to run it through terminal?

[2016-06-30 18:23] asiano commented on #35
Anyone lol

[2016-06-30 21:50] ghost commented on #39
@asiano I'll me submitting a PR in another day or two which will fix these warnings and hopefully fix the issues where the entire team would be glowed.

Note: Warnings aren't always an issue, generally it doesnt prevent the executable from working correctly.

[2016-06-30 21:51] ghost commented on #37
@asiano Thats it. Command + B builds the project. There isn't anything else

[2016-07-01 00:43] asiano commented on #37
Thanks! Ive got it to work but how about using it on terminal? Do you think you can try and test it out yourself?

[2016-07-01 02:21] ghost commented on #37
@asiano Look at my first comment above.

[2016-07-01 04:52] asiano commented on #37
If you see my other post i cant get it to work even after the steps

[2016-07-01 04:54] ghost commented on #37
@asiano I have used it in the past the way you are trying to. You're probably missing a step. Make sure you have CSGO running first

[2016-07-01 05:15] asiano commented on #37
I did exactly what u said and atill no work.

[2016-07-01 07:51] ghost commented on #37
You are doing something wrong.

[2016-07-01 07:55] ghost commented on #35
@gabsens So the team detection worked with bots, but in competitive, it returned 0 for both teams. Those are at a different location.

[2016-07-01 09:21] gabsens commented on #35
@buzzel what happens in casual or deathmatch ? I've actually never played comp on my mac

[2016-07-01 16:15] ghost commented on #35
@gabsens Not sure. will try that out shortly

[2016-07-01 23:43] carsonoreilly opened #40 "New Offsets And It Shows Both Teams Not Just Enemy Team"
CSGO just had a small update and the hack isn't working for me anymore. I think there needs to be new offsets and I tried the video tutorial like 5 times and it wasnt working

[2016-07-02 00:08] carsonoreilly commented on #33
anyone get the new offsets yet, a new update just game out and i tried to follow the youtube vid but it didnt work for me.

[2016-07-02 03:12] ghost commented on #39
close this

[2016-07-02 03:13] ghost commented on #40
why would you want just both teams? that just makes it so much more confusing and you might get banned from TK when playing comp because of it. It would be one thing if each team had a different color.

[2016-07-02 03:25] ghost commented on #35
new update

[2016-07-02 04:25] ghost commented on #35
@brendon111 I'm not home tonight but if you follow along with @gabsens tutorials, you should be golden!

[2016-07-02 04:31] ghost commented on #35
i have local so far

[2016-07-02 04:31] ghost commented on #35
@buzzel

[2016-07-02 05:05] ThaddyBear commented on #35
@brendon111 i can't find both :( the two offsets i got don't work

[2016-07-02 06:29] carsonoreilly commented on #40
no i said it shows both teams i want just enemy team

[2016-07-02 07:10] ghost commented on #35
@brendon111 Whats the local player offset? I just got home so I'll see if its right

[2016-07-02 07:32] ThaddyBear commented on #35
@buzzel :D could u send the offsets here cos I'm failing super badly

[2016-07-02 07:43] ghost commented on #35
I cant figure out the glow offsets, I just have the local player offset `0x513BF78`. None of my address are within reason. They are either super far away from a gap to symbolize the GlowStruct or they dont match between bots. @gabsens If you have any ideas. Im all ears!

[2016-07-02 07:59] gabsens commented on #35
@buzzel HINT: the byte array you have to look for is ?? 2? 99 40 01

[2016-07-02 08:08] ghost commented on #35
@gabsens I tried that one I believe. I get this most of the time though.
<img width="872" alt="screen shot 2016-07-02 at 1 08 03 am" src="https://cloud.githubusercontent.com/assets/17832027/16539221/74406b76-3ff1-11e6-8742-0313d96e133b.png">

Only after this update though

[2016-07-02 08:16] gabsens commented on #35
@buzzel Nevermind, what I said is foolish since the byte array changes after csgo restarts. Re-do the search with 2 bots, get rid of the adjacent addresses that don't match any address in the other bot's list. You should be left with 10 addresses or so for each bot. You should find two addresses (one for each bot) that are close to each other and comply with the GlowEntity struct (which means they

[2016-07-02 08:32] Freek3 commented on #35
Staying tuned..

[2016-07-02 11:14] ThaddyBear commented on #35
so whats the glow offset :( i only found the local player

[2016-07-02 12:17] #39 closed

[2016-07-02 17:43] ghost commented on #35
@gabsens Thats what I've done but couldnt seem to find it. I'll try it again though.

@Freek3 Stay tuned? Did you find it?

[2016-07-02 18:40] ghost commented on #35
Every glow entity that I have found doesnt work. Soon as I try csgoGlow, the game crashes

[2016-07-02 18:42] gabsens commented on #35
@buzzel 0x594B840 for glow and 0x50B85C8 for entitylist

[2016-07-02 19:23] ghost commented on #35
@gabsens Thats the offset I just tried. What did you get for the localplayer offset? I got `0x513BF78`

[2016-07-02 19:26] gabsens commented on #35
@buzzel same offsets here, got no problem. Your implementation of the hack is faulty then, perhaps an edit you've made to the source ?

[2016-07-02 19:27] ghost commented on #35
Oh, you know what, that could be it. Let me try something

[2016-07-02 19:28] ghost commented on #35
It was something I was testing to get rid of the playerBase. Doh! Thanks for the help though.

Did you manage to get that simpler way figured out?

[2016-07-02 19:28] ghost commented on #40
New Offsets

[code]

Courtesy of @gabsens

[2016-07-02 19:32] gabsens commented on #35
@buzzel I've found a trivial way to retrieve the player base offset, and I'm looking to do the same with the other offsets, but it's not as easy unfortunately.

Most of my time I spend on visibility checks for my aimbot

Good thing you found the offsets by yourself

[2016-07-02 20:10] ghost commented on #40
Thanks @gabsens @buzzel and has anyone got got any advancement on the Bhop script?

[2016-07-03 09:37] Freek3 commented on #40
@brendon111 Bhop scripts are extremely risky dude.

[2016-07-03 22:55] ghost commented on #40
@Freek3 why is that?

[2016-07-03 23:00] gabsens commented on #40
@brendon111 bhop is extremely easy to implement, the only hurdle is managing the "space bar pressed" event in a CPU-efficient way, while maintaining accurate hops. Regarding bans, there's no VAC risk, no untrusted risk, the only way you could get busted is through Overwatch, but this would entirely be your fault.

[2016-07-04 00:08] ghost commented on #40
@iseekwonderful usleep is still set to 100 milisecond btw...might want to change that again.

[2016-07-04 00:13] ghost commented on #40
@gabsens I found a bhop script in c++. Could I post it here, and would you be able to suggest how to implement it with with @iseekwonderful 's way of accessing memory?

[2016-07-04 21:30] asiano commented on #37
still having trouble

[2016-07-05 04:09] ghost commented on #40
new update

[2016-07-05 04:12] Freek3 opened #42 "Recent Update"
Does anyone happen to know the new offsets?

Many Thanks,

[2016-07-05 05:18] gabsens commented on #35
@buzzel I'm done with the new thing. It's scanning for patterns that I found with much help from @owerosu
It lets you find offsets programmatically. Currently I'm doing the pattern scan with BitSlicer, but I'll write something in C++ to do the scan for me.

You can find insight on patterns here http://blog.marcel-kirchhoff.de/understanding-pattern-scanning/

Anyway, entitylist is now 0x50B85E0. Th

[2016-07-05 05:43] ghost commented on #40
Local Player Offset should be `0x513BFC8` These last two updates I have had some trouble getting the GlowOffsets. @gabsens Hows your new way coming along?

[2016-07-05 05:54] ghost commented on #40
@brendon111 Feel free to get the glow offset

[2016-07-05 07:37] ThaddyBear commented on #40
wow every glow offset i got doesn't work even after i updated the entity list and local player :( why is it so hard

[2016-07-05 14:34] ThaddyBear commented on #35
any1 got the glow offset? I'm left with that to find

[2016-07-05 15:39] ghost commented on #40
@ThaddyBear I'll have a look tonight when I get home

[2016-07-05 19:04] ghost commented on #40
@buzzel I thought I had all of them, but turns out they where all wrong, must've made a mistake.

[2016-07-05 19:37] gabsens commented on #40
@brendon111 show me what you got I can tell you which one's wrong

[2016-07-05 19:49] DooubleO commented on #40
@gabsens Do you have the correct/working ones?

[2016-07-05 19:54] gabsens commented on #40
@DooubleO of course

[2016-07-05 20:00] DooubleO commented on #40
@gabsens Will you be sharing?

[2016-07-05 20:01] ghost commented on #40
@dooubleO They are pretty easy to grab. I kinda rushed through it last night so I might of just overlooked something. Take it slow and try again. I'll have another go when I get home.

[2016-07-05 20:02] DooubleO commented on #40
@buzzel Let us know if you get any luck :)

[2016-07-05 20:03] gabsens commented on #40
@DooubleO entitylist is 0x50B85E0

the rest you can find with enough motivation here https://github.com/iseekwonderful/csgoGlow/issues/33

[2016-07-05 20:06] DooubleO commented on #40
@gabsens Ill give it a ago

[2016-07-05 21:09] ghost commented on #40
New LocalPlayerBase should be `0x513C058`

@gabsens For the GlowOffset, several of my offsets calculate correctly, but none work. I got `0x50F8710` and `0x50B86F8`. I haven't looked for the EntityList for this afternoons update but I've set my playerBase = LocalPlayerBase and it kills the game. What offset do I have wrong?

[2016-07-05 21:22] ghost commented on #40
For LocalPlayerBase I found it to be `0x50A66E8`. Working on Glow rn

[2016-07-05 21:29] e-retailer commented on #40
They don't work for me.. can you fill them in pls?

uint64_t glowInfoOffset = ...;
uint64_t LocalPlayerBase = ...;
uint64_t playerBase = ...;

[2016-07-05 21:39] ghost commented on #40
@gabsens I'm determined on finding the offsets myself without help, but what is the difference between the LocalPlayerBase and PlayerBase?

[2016-07-05 21:43] ghost commented on #40
@tr1kyyy playerBase is an offset to the EntityList. Its not needed persay. It just helps to determine the teams with the way that its currently implemented.

Set both LocalPlayer and PlayerBase the same offset when testing.

[2016-07-05 21:48] ghost commented on #40
@buzzel Okay done. After multiples time tho, I still get getting the same LocalPlayer, but it's different from yours.

[2016-07-05 21:55] gabsens commented on #40
@tr1kyyy did you get 0x513BFC8 for the local player ?

@buzzel offsets change very little from one update to another. the new offset I found for glow starts with 0x594B (same as the one in the previous update)

[2016-07-05 21:59] ghost commented on #40
@tr1kyyy Roll with yours first and see if it works.

[2016-07-05 22:00] ghost commented on #40
@gabsens I got 0x594BXXX last night, but it didnt work for me. I'll check again but I dont think I got that for todays update.

[2016-07-05 22:03] ghost commented on #40
@gabsens I got `0x50A66E8` for LocalPlayer...is this correct?

[2016-07-05 22:14] gabsens commented on #40
It's your your lucky day

LocalPlayer 0x513BFC8
EntityList 0x50B85E0
Glow 0x594B890

Keep a close eye on https://github.com/gabsens/Pattern-scanner-for-OSX
Tomorrow I'll release the finished code so that it fetches offsets for you.

[2016-07-05 22:16] ghost commented on #40
@gabsens Thank you so much! I'm going to give it a go myself again anyways.

[2016-07-05 22:39] e-retailer commented on #40
uint64_t glowInfoOffset = 0x594B890;
uint64_t LocalPlayerBase = 0x513BFC8;
uint64_t playerBase = 0x50B85E0;

Doesn't work for me :(

[2016-07-05 22:49] ghost commented on #40
@gabsens @e-retailer They don't work for me either...

[2016-07-05 23:01] ghost commented on #40
Do offsets differ on Windows and Mac because my friend on Windows said the glow is 0x29B4

[2016-07-05 23:11] gabsens commented on #40
Ahem my game wasn't up-to-date, sorry (f Valve)

LocalPlayer 0x513C058
EntityList 0x50B8698
Glow 0x594B920

Pattern-scanning is OP, all offsets found in 1 second

[2016-07-05 23:12] ghost commented on #40
@gabsens Just starred and downloaded the project :D

[2016-07-05 23:14] ghost commented on #40
sameee :)

[2016-07-05 23:18] ghost commented on #40
also, can someone delete all the issues, so we only have 1 open therefore its more organized.

[2016-07-05 23:39] ghost commented on #40
Glow offsets get me every time!! LocalPlayer takes like 4 seconds

[2016-07-06 01:01] asiano commented on #37
can anyone help please. when i input "sudo/Users/asiano6996/Desktop/csglow/Wall/main.cpp" i get "-bash: sudo/Users/asiano6996/Desktop/csglow/Wall/main.cpp: No such file or directory". please help i don't know what I'm doing wrong

[2016-07-06 01:46] ghost commented on #40
@gabsens Just compiled and ran your code:

`client: 0x128000000 18605964
cf
128548e2c
1285259a0
0
30`

That was my console output...

[2016-07-06 02:01] ghost commented on #40
@tr1kyyy Yeah, it doesn't fetch the offsets yet.

[2016-07-06 02:31] DooubleO commented on #40
Any luck anyone?

[2016-07-06 06:02] gabsens commented on #40
It's working now

[2016-07-06 06:38] #30 closed

[2016-07-06 06:39] #42 closed

[2016-07-06 06:41] ghost commented on #40
@gabsens You are a GOD!

[2016-07-06 07:06] #36 closed

[2016-07-06 07:14] e-retailer opened #43 "Global Offensive structs/offsets"
## This thread is for offsets, patterns, indecies, structs or just general information about the engine which can be useful to others that have been found and want to be shared.
### You can politely ask for the things stated above if it hasn't been posted before for the same update.
### Posts that are not related to the things stated above, will be deleted. Please create a new issue for all other

[2016-07-06 07:22] jananne commented on #43
Latest offsets, found 06/07/16 by @gabsens:
`uint64_t glowInfoOffset = 0x594B920;`
`uint64_t LocalPlayerBase = 0x513C058;`
`uint64_t playerBase = 0x50B8698;`

[2016-07-06 16:55] tr1kyyy opened #44 "Walls Failing After ~15 minutes of Use"
With every build of wall there is the same problem, after about 15 minutes my console reads `State changed 0`. What does this mean? It appears to happen randomly and requires me to pause my game, close old wall process, run new one with sudo which takes about a minute. How can I fix this?

[2016-07-06 17:59] gabsens commented on #44
`CGEventSetIntegerValueField(event, kCGKeyboardEventKeycode, (int64_t)keycode);`
   `if (keycode == 9) {`
`states = !states;`
`printf("State Changed! %i\n", states);`
`}`

`if (states){`
`int i_teamNum = testLocalPlayerAddress(task, moduleStartAddress);`
`readPlayerPointAndHealth(task, current_task(), moduleStartAddress,``glowObjectLoopStartAddress, i_teamNum);`
`}`

`9` is the keycode for the V k

[2016-07-06 21:22] ghost commented on #44
Right, Hitting Command + V will toggle it on and off. I'm planning on actually making an app which will handle the keyboard shortcuts and such and just run or terminate the executable or the C++ code itself.

[2016-07-07 01:32] ghost commented on #44
@buzzel @gabsens Had no idea it was even toggleable, all is well now. Also the pattern identifier works like a charm. In new updates of CS:GO is it possible the memory patterns will change ?

[2016-07-07 01:39] #44 closed

[2016-07-07 04:35] flipembois commented on #40
@tr1kyyy How did you compile it? I'm following this http://stackoverflow.com/questions/4403253/how-to-run-g-from-a-terminal-window-on-my-mac and its not working for me.

[2016-07-07 06:46] ghost commented on #40
@flipembois
1. Download the program, open terminal, navigate to the directory of main.cpp using `cd (Drag the folder main.cpp is in here)`. Press enter.
2. Then use `g++ main.cpp`. Press enter again.
3. In the same folder it will generate an a.out file. This is your program. To run it go to terminal and type `sudo (Drag a.out here)`
4. Note that the offsets will be in the order below

LocalPlayerB

[2016-07-07 06:51] DooubleO commented on #40
Got this message @tr1kyyy
task_for_pid() failed with message (os/kern) failure!

[2016-07-07 08:38] gabsens commented on #40
@DooubleO run as root. If the problem persists and you're running on OSX El Capitan, disable SIP

[2016-07-07 19:58] DooubleO commented on #40
@gabsens Disabled SIP but still does it, not sure how to run with root.

[2016-07-07 20:15] carsonoreilly commented on #40
@gabsens by entity list do u mean playerbase

[2016-07-07 21:18] gabsens commented on #40
Seriously, learn the basics of Unix before you even consider hacking anything

http://askubuntu.com/questions/207466/how-to-run-applications-as-root

[2016-07-07 22:04] carsonoreilly commented on #40
@tr1kyyy please link the bhop script

[2016-07-08 02:26] ghost commented on #40
@DooubleO Use sudo, it will ask you for a password, but after, you will have all the privileges needed to run it. Also make sure you're in CS:GO in a sever on a team.

[2016-07-08 02:29] ghost commented on #40
@carsonoreilly The bhop script is some old c++, and it won't work with iseekwonderful's way off accesing and reading OSX memory. I was just going to post it here in a few days to see if @gabsens could give advice regarding how to possibly convert it to OSX.

[2016-07-08 04:11] flipembois commented on #40
@tr1kyyy It helped me create the program, unfortunately I can't turn SIP off (It can't find the command csrutil) to run the program as root.

[2016-07-08 21:57] ghost commented on #43
For those of you confused on how to Use @Gabsens project
https://youtu.be/3kMyiZ5yuvE
courtesy of friend.

[2016-07-09 03:12] tr1kyyy opened #45 "CS:GO Crashing Every 20 Minutes"
Console shows no errors of any sort, the game just crashes. Typically the walls will stop working and within 10 seconds CS:GO closes itself. I have no idea why this is happening, and I am wondering if this is happening to anyone else. This may be a problem specific to me, but if not, how can I check CS:GO's logs?

EDIT: Just to clarify, when walls are not activated my game runs perfectly for hours

[2016-07-09 08:55] gabsens commented on #45
You can ask Valve's employees here https://github.com/ValveSoftware/csgo-osx-linux/issues

lol

[2016-07-09 21:26] ghost commented on #45
@gabsens Sounds great, I'll link them to my profile as well.

edit: I was VACed

[2016-07-09 21:51] DooubleO commented on #45
You must've been way too obvious rip

[2016-07-10 09:39] gabsens commented on #45
They don't ban manually and VAC on OSX is sleeping, you're safe

[2016-07-10 14:36] ghost commented on #45
@DooubleO It was a joke lel. Overwatch is the only chance of a ban with walls.

[2016-07-11 00:36] #45 closed

[2016-07-12 16:41] sulik12345 opened #46 "Error when building"
When I hit Command + B in xcode with the Wall.xcodeproj it says there are 2 errors.

Unused Entity Issue | Unused variable 'g'

Unused Entity Issue | Unused variable 'kr3'

If possible could  you link me to a tutorial on how to do this? Thanks

[2016-07-12 19:09] ghost commented on #46
Those errors do not matter, as long as you're in CS:GO on a team the build will work. Also you should run the build directly as an exec instead of running it through xcode each time.

[2016-07-13 22:20] ghost commented on #37
@asiano I can't tell if you're trolling or serious...

[2016-07-13 23:17] asiano commented on #37
Im so serious i still cant get terminal to work

[2016-07-15 05:03] ghost commented on #37
You can't run the cpp directly. Sudo needs a space after it. You need to find Wall executable in the Developer folder of xCode and run it with sudo.

[2016-07-15 21:48] ghost commented on #43
Latest offsets as of July 15th, 2016
`uint64_t glowInfoOffset = 0x594A900;`
`uint64_t LocalPlayerBase = 0x513B038;`
`uint64_t playerBase = 0x50B7678;`

[2016-07-16 13:30] sulik12345 opened #47 "Not working?"
I used it for 3 days, and now it just stopped working.... Idk... CSGO wasnt updated or anything. Anyone else having these issues? I tried the updated version aswell

[2016-07-16 17:13] sulik12345 commented on #47
I found the offsets of

uint64_t glowInfoOffset = 0x594A900;
uint64_t LocalPlayerBase = 0x513B038;
uint64_t playerBase = 0x50B5288;

Could someone please check and confirm?

[2016-07-16 17:51] gabsens commented on #47
according to https://github.com/iseekwonderful/csgoGlow/issues/43

[2016-07-16 20:16] ghost commented on #47
Latest offsets as of July 15th, 2016
`uint64_t glowInfoOffset = 0x594A900;`
`uint64_t LocalPlayerBase = 0x513B038;`
`uint64_t playerBase = 0x50B7678;`

THESE are working. @sulik12345 your playerBase if off somehow...

[2016-07-16 21:06] sulik12345 commented on #47
Thanks tr1kyyy! I wasnt sure how to find the player base.....

[2016-07-17 02:30] ghost commented on #47
@sulik12345 I am using @gabsens pattern detector. Works like a charm. Thank him, not me.

[2016-07-18 07:34] sulik12345 commented on #47
@tr1kyyy I found the scanner, but could you tell me how to use it? Doesnt provide information on how to use. Do I launch CSGO with -insecure then build it in Xcode?

[2016-07-18 17:31] ghost commented on #47
@sulik12345 Build the project with the g++ command. Then run it with sudo.

[2016-07-18 17:52] gabsens commented on #47
@sulik12345 read **all** of this

https://github.com/iseekwonderful/csgoGlow/issues/43

[2016-07-18 18:47] sulik12345 commented on #47
@gabsens Im bad at looking for things xD Thanks! I favorited the video. Btw, I saw one of your videos about no recoil, will you ever upload that to here?

[2016-07-18 19:19] ghost commented on #47
@gabsens Aimlock would be amazing. Would you ever plan to release it?

[2016-07-19 08:05] carsonoreilly commented on #43
ya i got the glow and localplayer from the scanner but it gave me the wrong playerbase? anyone know why? i followed the video tutorial

[2016-07-20 04:21] tr1kyyy commented on #43
@carsonoreilly This is a discussion thread, no questions here. Make sure when you run @gabsens program that you are on a team in a csgo server of some sort. Also, using activity monitor, make sure there are no extra 'wall' processes running.

[2016-07-21 01:16] ghost commented on #47
@gabsens I've commented on a few of your videos asking if you would ever release your project. Make it a challenge or a riddle to get it working so only those who work for it can get it to work. I appreciate your work and I am deeply interested in a functional aimlock.

[2016-07-21 05:55] Galenika commented on #47
@tr1kyyy @sulik12345 where are those videos?

[2016-07-25 16:35] rawrchad opened #48 "Unused strings and Format Specific Types? Is it because i need to update the offsets?"
I am just curious if i only need to update the offsets, I don't want to waste my time learning how to update if that isnt the problem?

<img width="1280" alt="offsets" src="https://cloud.githubusercontent.com/assets/12880229/17109024/cc407a88-525b-11e6-814a-0d90de0f4673.png">

[2016-07-25 17:47] ghost commented on #48
Yes you will only need to update offsets. In the left menu navigate to all of the files in this xcode project, go to the main.cpp, and replace the old offsets with the new offsets. Also make sure cs:go is running when you do so.

[2016-07-25 18:03] ghost commented on #48
Ill check offsets in two hours to make sure walls are functional. If not I'll update them here again.

[2016-07-26 14:43] rawrchad commented on #48
Thanks Tr1kyyy i figured it out :P I also learned how to find offsets :] well with the scanner lol

[2016-07-26 23:42] rawrchad opened #49 "Is this actually detecable?"

[2016-07-28 03:16] anthonycastelli opened #50 "New Offsets for July 27th?"
Anyone have the new offsets for july 27th? I've tried @gabsens pattern matcher however, this update seems to have stopped that from working.

[2016-07-28 03:23] #50 closed

[2016-07-28 04:31] Wolf-88 opened #51 "Using Pattern Scanner"
so I've used this twice now with perfect results, until tonights update and the offsets never seem to be correct. This is what im getting
<img width="215" alt="screen shot 2016-07-27 at 10 30 01 pm" src="https://cloud.githubusercontent.com/assets/20144499/17201243/e718d766-5449-11e6-9014-e0463f148b5f.png">

[2016-07-28 05:40] DooubleO commented on #51
Getting the same, but it doesn't seem to work for me aswell

[2016-07-28 05:44] DooubleO commented on #51
This is what I'm getting
client: 0x125000000 18640220
LocalPlayer: 0x5145338
EntityList: 0x12a0c1f48

[2016-07-28 05:44] DooubleO commented on #51
Glow: 0x85

[2016-07-28 05:59] gabsens commented on #51
EntityList: 0x50C1F48 and the glow pattern is indeed broken

[2016-07-28 06:05] DooubleO commented on #51
Will there be an update to the program to get the glow pattern finder working?

[2016-07-28 06:11] gabsens commented on #51
try 0x5954c18 for glow and tell me if that works

[2016-07-28 06:15] DooubleO commented on #51
It's making my game crash.

[2016-07-28 06:17] gabsens commented on #51
my bad, try 0x5954c00

[2016-07-28 06:23] DooubleO commented on #51
Makes it crash also..
Should I have my other offsets as anything other than:
glowInfoOffset = 0x50C1F48
LocalPlayerBase = 0x5145338
playerBase = 0x5145338

[2016-07-28 06:26] gabsens commented on #51
try this

glowInfoOffset = 0x5954c00
LocalPlayerBase = 0x5145338
playerBase = 0x50C1F48

[2016-07-28 06:28] DooubleO commented on #51
how about m_iGlowIndex

[2016-07-28 06:28] DooubleO commented on #51
0x5954c00 as well?

[2016-07-28 06:31] gabsens commented on #51
glowInfoOffset = 0x5954c00
LocalPlayerBase = 0x5145338
playerBase = 0x50C1F48

these are correct

[2016-07-28 06:32] DooubleO commented on #51
Ding ding, we have a set of working offsets, thanks once again to @gabsens

[2016-07-28 06:33] gabsens commented on #51
Now I go watch Mr Robot. I'll fix the pattern scanner when I'm back

[2016-07-28 06:34] DooubleO commented on #51
Sweet, Thanks!

[2016-07-28 07:55] sulik12345 commented on #49
Vac does not work against MacOSX.

[2016-07-28 07:56] sulik12345 commented on #43
The Pattern scanner video went private for some reason.....

[2016-07-28 13:21] thealexend opened #52 "Crash on Assault map"
After vote map, when map changes to Assault, hack and csgo is crashing. How I can to fix this?

[2016-07-28 13:27] gabsens commented on #52
Are you sure you can reproduce that ?

[2016-07-28 16:13] kukhtoa commented on #52
I'll try make video

[2016-07-28 21:00] rawrchad commented on #49
Why is that exactly? I would just like to understand.

[2016-07-29 07:24] sulik12345 commented on #49
VAC is a system that detects things running in your RAM and your game, so windows users using injectors to inject into different files would be VAC banned. For MAC however, the system is different, the RAM scanning has a bit of a change making it possible to use a side by side script such as we do.

[2016-07-29 15:18] Wolf-88 opened #53 "How do you reduce RAM usage with game and Glow?"
Ive been trying out multiple things lately as far as game w/ hack vs fps vs RAM... Ive had to switch to 4:3 for frames and thats working very well, but I cannot do Full screen without the hack w/ xcode failing. Also map switches cause it to crash... Also anything above 2XMSAA multicore rend will use too much RAM. Does anyone have tips or suggestions for freeing RAM before game. I understand you ca

[2016-07-29 15:43] gabsens commented on #53
Give us numbers at least: how much RAM  you have on your system, how much RAM csgo uses when you're in-game and how much the hack uses.

The code here on github is absolutely not optimized (CPU-wise more than anything else)

[2016-07-29 16:33] K2QGIT commented on #53
4GB Total, Computer uses about 2GB with normal running, CS-GO Alone will use 1-1.5GB, X-code will use up to 1GB, once running, the system will prioritize the game and Hack but any slight change in usage (opening the internet) will max it out and X-code is the first on the hit list. I've tried terminal, but it uses more than X-code funny enough. Computer Specs:
<img width="244" alt="screen shot 201

[2016-07-29 16:43] gabsens commented on #53
You don't need Xcode whatsoever... get the binary Xcode built and run it as root with Terminal

I got quite the same specs and I can't get above 80fps on dust2, with lowest settings

[2016-07-29 16:50] Wolf-88 commented on #53
I literally cannot find the exec wall file, I searched the developer folders and no luck, I also do not know how to compile multiple C++ files into an executable, only one at a time, otherwise I wouldve been trying this all along and dump x-code cause it takes up 10gb of space.

[2016-07-29 18:09] kukhtoa commented on #52
I can't make video. It happens randomly.  When map changes to assault, when you start move, jump, glow is stopped. Then cs go crashes.

[2016-07-29 18:10] kukhtoa commented on #52
Chance to crash ~ 25-30%

[2016-07-29 18:51] K2QGIT commented on #53
Solved: for FPS I used lowest setting with trillinear and 2xMSAA,4:3, Then found a program to clear RAM easily while still in game, and used hack in terminal, 1GB free RAM while playing and no down time, also fullscreen capable, but switching maps still causes it to halt the process.

Getting 150 frames now

[2016-07-29 19:06] gabsens commented on #53
here's how you find the binary file and run it

https://www.youtube.com/watch?v=pvMQeYRM4d4

[2016-07-29 19:12] K2QGIT commented on #53
@gabsens Thanks! I did some googling to find that aswell, you should put that link on your pattern scanner page too

[2016-07-30 15:02] #35 closed

[2016-07-30 15:02] #40 closed

[2016-07-30 15:02] #46 closed

[2016-07-30 15:02] #47 closed

[2016-07-30 15:02] #48 closed

[2016-07-30 15:02] #51 closed

[2016-07-30 15:19] #37 closed

[2016-07-30 21:16] rawrchad opened #54 "Game is very laggy when running glow?"
Every time i run the glow script now my game lags pretty hard making it hard to aim.
I am on a Macbook Pro Early 2015 Model.

[2016-07-30 21:38] gabsens commented on #54
Give us actual numbers: RAM and CPU consumption from the game and the hack processes.

[2016-07-31 15:05] MysticIridium opened #55 "Walls not working"
Hello,

Forgive me if I did something horribly wrong(I hope not but it could very well have happened), but when I updated the offsets and ran it either through xcode(Product-Run), or executable(sudo- executable that I built through xcode), it always says it is running successfully but I do not see the glow hack in process. One of the potential causes is that when I initially tried to run it was th

[2016-07-31 15:48] gabsens commented on #55
What version of OSX are you using now ?

Are you launching the program as root ?

[2016-07-31 15:50] markwu-sde commented on #55
I am using 10.9.5 osx.
- I am unfamiliar with launching this program as root. I just built the executable dragged it to my desktop and then just typed in sudo (Wall)

[2016-07-31 15:52] rawrchad commented on #55
No I think there might have been an update it doesn't work for me either. I just haven't looked for the new ints yet.

[2016-07-31 15:54] gabsens commented on #55
Copy paste the output of the console after you've launched the executable

the code uses functions that exist since the beginning of OSX so there should be no compatibility issues

[2016-07-31 15:55] markwu-sde commented on #55
Could you tell me how you would launch the executable? Like I said earlier, I just kind of guessed and dragged the executable into the terminal after sudo

[2016-07-31 15:58] markwu-sde commented on #55
I did what you asked and just straight up clicked the executable.

Family$ /Users/Family/Desktop/Wall ; exit;
Segmentation fault: 11
logout

[Process completed]

[2016-07-31 16:01] gabsens commented on #55
Have a look here https://www.youtube.com/watch?v=pvMQeYRM4d4

You're failing to run the executable with the right privileges.

Also, you're supposed to start csgo first.

[2016-07-31 16:09] markwu-sde commented on #55
I have cs go started currently. Just ran it again.

-MacBook-Pro:~ Family$ sudo -s
Password:
bash-3.2# cd Desktop
bash-3.2# ./Wall
Segmentation fault: 11
bash-3.2#

[2016-07-31 16:15] gabsens commented on #55
Nope, the latest version of this repo is working perfectly fine.

Delete everything and re-download the project from github

[2016-07-31 16:25] markwu-sde commented on #55
I went back and did what I thought I needed to do 1 more time. Same error as above?
1. Download file from github

open .xproj in x-code program

Went to Products-Build

Went over to build then pressed the little i button to show it in finder

dragged Wall exe program onto desktop

-MacBook-Pro:~ Family$ sudo -s
Password:
bash-3.2# cd Desktop
bash-3.2# ./Wall
Segmentation fault: 11
bash-3.2#

[2016-07-31 16:49] gabsens commented on #55
try with this executable
[Walltest.zip](https://github.com/iseekwonderful/csgoGlow/files/392521/Walltest.zip)

PS: if you're a VAC employee trying to sig this, go fu*\* yourself :)

[2016-07-31 16:56] markwu-sde commented on #55
I dragged the Walltest executable on the desktop and got the same error:

-MacBook-Pro:~ Family$ sudo -s
Password:
bash-3.2# cd desktop
bash-3.2# ./Walltest
Segmentation fault: 11
bash-3.2#

[2016-07-31 16:57] gabsens commented on #55
Either:
- I missed a CSGO update
- You missed a CSGO update
- there's a different CSGO build for Mavericks

[2016-07-31 16:57] markwu-sde commented on #55
if it helps you, I can record my screen and send it to you

[2016-07-31 17:05] ghost commented on #55
@MysticIridium Add me on skype if u want and ill walk u through it. Make sure you're using the right executable from the Developer folder.

[2016-07-31 17:05] ghost commented on #55
@gabsens Any chance you would release your aimlock? I would love you forever :)

[2016-07-31 17:07] markwu-sde commented on #55
Thanks. What is your skype?

[2016-07-31 17:09] tr1kyyy commented on #55
@MysticIridium "nathanmarchantpro" pls no ddos XD

[2016-07-31 17:44] markwu-sde commented on #55
So... I have decided to upgrade my mac software and try it once more. Will keep you updated @gabsens

[2016-08-01 07:40] rawrchad opened #56 "Does it randomly stop working in the middle of games for you?"
Sometimes the wall hack stops working and i have to open a new terminal and run it again or sometimes re enter my password.

[2016-08-01 09:10] sulik12345 commented on #56
Yes, just restart it.

[2016-08-01 09:13] sulik12345 opened #57 "Not an issue, just a request"
@gabsens Are you planning to release your aimlock and or NoRecoil? If so please link us.

PS: we will love you forever <3

[2016-08-01 17:21] #57 closed

[2016-08-01 17:22] gabsens commented on #56
This used to happen to me as well when I actually used this cheat, it's probably the spam in the terminal that does this.

[2016-08-01 17:23] #53 closed

[2016-08-02 20:24] DooubleO commented on #56
It happens if you leave the game to go on google or something

[2016-08-03 03:39] Wolf-88 opened #58 "Unconventional way to run program without lag in game"
So, I along with most people have had lots of lag while running the hack with terminal and playing the game... but I found a way to reduce the usage of terminal and the script with a weird trick.

1. Open Game and prep terminal with sudo command
2. Set your video settings to windowed
3. Get in game, wait all the way til youre in a game
4. Start hack, in game, switch to fullscreen
5. Switch back to

[2016-08-03 03:40] K2QGIT commented on #54
@rawrchad Check my newest post to see if it helps

[2016-08-03 04:52] ghost commented on #56
@rawrchad @sulik12345 Note that pressing "v" will toggle the hack on and off, even if you're not in csgo. Typing in chat and using the letter "v" will toggle it. Just press v if they get turned off. And after about an hour and a half the cheat fails for some reason, just restart it.

[2016-08-03 18:37] gabsens commented on #56
@sulik12345 @tr1kyyy
Download the latest version of the repository and tell me if it still crashes.

[2016-08-03 22:09] ghost commented on #56
@gabsens btw u have the refresh time still at 100 micro seconds. Yeah I'll test in in 30 min.

[2016-08-03 22:29] ghost commented on #56
@gabsens Why isn't all the extra code not being implement just removed from the file entirely, like the useless print functions.

[2016-08-03 22:30] ghost commented on #56
@gabsens Btw everything works great, only tested for a short time.

EDIT: I hope when reading these comments you do so with squidward's voice.

[2016-08-03 22:34] ghost commented on #58
@Wolf-88 Go to activity monitor and search "Wall". You might want to shut these processes down.  Closing terminal just prevents you from seeing the text. After a few days of running the walls the program will build up a ton of these processes, and they seriously lag your computer. Remember to clear these soon for optimal fps :D

[2016-08-04 00:19] Loltestaccountplz opened #59 "Doesn't Work in latest version of csgo?"
I ran the file and the walls isn't working? I ran it with root while the game was running got into a offline game with bots, the normal glow esp wasn't showing. I'm assuming its because of the newest update to csgo?

[2016-08-04 02:06] ggothreau commented on #59
@Loltestaccountplz:
Please check previous issues for more information on this. Other users have made tutorials and tools to find offsets after each update.

Previous issues here:
https://github.com/iseekwonderful/csgoGlow/issues/33
https://github.com/iseekwonderful/csgoGlow/issues/43

Just to reiterate, after each update to CSGO the locations in memory change. Because csgoGlow references specific

[2016-08-04 02:07] ggothreau commented on #43
Latest offsets as of Aug 3, 2016:
uint64_t glowInfoOffset = 0x5955F00;
uint64_t LocalPlayerBase = 0x5146638;
uint64_t playerBase = 0x50C3248;

[2016-08-04 02:25] Loltestaccountplz commented on #59
@ggothreau thanks sorry I'm kind of new to this stuff lol

[2016-08-04 02:41] ggothreau commented on #59
@Loltestaccountplz no worries, my dude. We all started off being new to this stuff. But if you learn it then you don't have to come and check the issues page every time there is an update.

[2016-08-04 04:46] Freek3 commented on #58
Thankyou !!!! @tr1kyyy @Wolf-88

[2016-08-04 06:08] K2QGIT commented on #58
@tr1kyyy This essentially does that, just quicker and easier to understand for some, It keeps one process running that uses 20 kb of RAM instead of Terminal + Process. But I do understand what you do and its helpful.

[2016-08-04 06:15] gabsens commented on #56
@tr1kyyy you're free to make pull requests if you think some parts need improvement (and many do)

[2016-08-04 06:19] #59 closed

[2016-08-04 06:26] Wolf-88 opened #60 "Cannot get latest offsets"
Ive used @gabsens pattern scanner and the old method and am successfully able to find local player and player base but glow is not working and I have found 3 different offsets for it... Im sorry im asking for help again like everyone. Many thank yous.

[2016-08-04 06:27] gabsens commented on #60
Read last post here

https://github.com/iseekwonderful/csgoGlow/issues/43#issuecomment-237432304

and yes, glow pattern broke again.

[2016-08-04 06:29] K2QGIT commented on #60
@gabsens Saw that, and have been trying different methods to no prevail, was wondering if anyone had successfully figured it out yet. Not to repeat the question, was using this more of as a brain storming session.

[2016-08-04 06:33] gabsens commented on #43
@ggothreau it seems to me that the EntityList offset is rather 0x50c3228, do you confirm ?

[2016-08-04 06:40] ggothreau commented on #43
@gabsens is it? 0x50C3248 seems to work for me. I may have found that incorrectly, though. I just took the local base and subtracted 0x833F0. I used your scanner, but not your tutorial, so I may have done that wrong, but I tested it and it seems to work.

[2016-08-04 06:56] gabsens commented on #43
@ggothreau I see now, you added +0x20 to the one given by the pattern scanner

I see the entitylist as [MyPlayer, Bot1, Bot2,...]
You're looking at it like [Bot1, Bot2,...]

Implementation-wise, you're probably right, it makes no difference with the source on github since all it does is looping through the list, _looking for players to glow_, and you yourself isn't supposed to glow.

Sorry for dou

[2016-08-04 06:59] gabsens commented on #60
@Wolf-88 do you want me to film another video ? Finding the glow offset is indeed tricky

[2016-08-04 07:08] gabsens commented on #43
The pattern I used previously was a tiny bit not flexible enough, damn

[2016-08-04 07:10] gabsens commented on #60
There was a tiny byte that made the glow pattern fail, it should work fine in future updates.

[2016-08-04 07:15] ggothreau commented on #43
@gabsens I see what you mean with +0x20 making sense, since it will skip *self*, but I'd be worried it might corrupt memory by writing outside of what is allocated through entitylist, since the pointer is now offset +0x20. That was an accident though, probably a typo. But so far it seems to work and is stable.

How do you find the patterns? I wonder if regular expressions might be more flexible th

[2016-08-04 07:17] K2QGIT commented on #60
@gabsens Thanks, I'm trying to learn myself and I dont want to inconvenience you.. It was a matter of an extra letter I pressed on my keyboard before saving XD coding is meticulous
Can close if you want.

[2016-08-04 07:21] #60 closed

[2016-08-04 07:43] gabsens commented on #43
Let's continue this discussion here [here](https://github.com/gabsens/Pattern-scanner-for-OSX/issues/3)

Is it ok if I delete all our messages (except the first one you posted) ?

[2016-08-04 15:47] ggothreau commented on #43
@gabsens Sounds good. Sorry, I am in North America and it was very late for me so I had to sleep.

[2016-08-05 22:24] ggothreau commented on #43
Latest offsets as of Aug 5, 2016:

[code]

[2016-08-05 23:23] DooubleO commented on #43
Half of the team doesn't show up help?

[2016-08-05 23:47] DooubleO opened #61 "1 or 2 of the enemy team do not show up."
Current offsets i'm using
uint64_t glowInfoOffset = 0x5958F20;
uint64_t LocalPlayerBase = 0x5149658;
uint64_t playerBase = 0x50C6268;

int m_iGlowIndex = 0x5958f20;

[2016-08-06 00:19] ggothreau commented on #43
In testing it shows me both teams, minus one player. So something is wrong with the offsets, but I'm not sure what. I'll look into it. I used @gabsens' pattern scanner to find the new offset, so maybe he has some idea.

[2016-08-06 01:54] DooubleO commented on #43
@ggothreau Had any luck?

[2016-08-06 03:32] ghost commented on #61
@DooubleO Are you positive they're just not rendered yet because they're behind several walls?

[2016-08-06 03:44] DooubleO commented on #61
I look at the 1 or two people right in the eye multiple times, but no glow

[2016-08-06 03:44] DooubleO commented on #61
@tr1kyyy

[2016-08-06 03:48] ggothreau commented on #61
Yeah, I can reproduce it consistently not showing 1 enemy's glow. I'm trying to figure out if it's the offsets (offset by one playerbase) or if it's something in the code that needs to change.

[2016-08-06 04:26] DooubleO commented on #61
Another update, my pattern finder isnt working... Anyone want to help me out?

[2016-08-06 06:56] gabsens commented on #43
@ggothreau lol,this time you added +0x40 to the Entitylist offset given by the pattern scanner, hence missing players

[2016-08-06 06:57] gabsens commented on #61
@DooubleO the **latest** version of the pattern scanner yields

[code]

[2016-08-06 07:49] ggothreau commented on #61
Whoops, it turned out I was using an older version of pattern scanner. Sorry!

[2016-08-06 07:51] ggothreau commented on #43
Yeah, I was using an older version of pattern scanner. Sorry, stupid mistake!

[2016-08-06 08:12] #61 closed

[2016-08-06 13:54] extrenebiibues opened #62 "Trouble on OS X Yosemite"
how do i activate it can u add me on steam and tell me my name ins JaLonG im VERY confused

[2016-08-06 14:40] tr1kyyy commented on #62
@extrenebiibues Bro...directions are in the description.

[2016-08-06 14:41] ghost commented on #62
@extrenebiibues Download the zip, run the project in xcode with root permission.

[2016-08-06 16:59] ggothreau commented on #62
The whole point of this project is to be educational. If you're not comfortable with C/C++, memory hacking or basic command line usage (or not willing to take the time to learn) then you're going to have a bad time.

You need xcode from the App Store. Then you need to update the offsets to the most recent published values (since they change between every update to CSGO). You then need to compile/b

[2016-08-06 17:18] #54 closed

[2016-08-06 21:20] joejoepojoe opened #63 "How do i use this?"
Now I am a noob to this sort of thing, i owned a hack which only i had, which was taking advantages of values to use r_drawothermodels 2 in comp which i used for 3 months without getting banned, but now that is patched, and i would like to know how to use this? A video or something would be useful :)

[2016-08-06 22:49] ggothreau commented on #56
Yep, it is the console spam that is killing it. I got rid of the print functions within loops and I haven't had that problem since. I also disabled the V button toggle because I was accidentally hitting it all the time. I also increased usleep to 20000 and it lowered CPU usage for me significantly.

[2016-08-07 00:08] ghost commented on #56
@gabsens I was trying to change the keybind to a simultaneous key press, but it looks like in Xcode there is no way to detect keys held down. Is there a way to setup a key sequence to toggle it? I might just throw out the dumb toggle option anyways.

[2016-08-08 10:29] joejoepojoe commented on #62
I built the executable using Xcode, and then used bash to run the executable, and when i run it, i simply get the message "Access denied", I have root enabled on my mac and am not sure what is causing this? Any clues as to what I am doing wrong. I tried running a different executable and it worked just fine, unless i built it wrong.
Last login: Sat Aug  6 22:40:24 on ttys000

uss-iMac:~ us$ dsenab

[2016-08-08 10:30] #63 closed

[2016-08-08 12:13] gabsens commented on #62
@joejoepojoe are you running el capitan?

[2016-08-08 20:31] Commonly commented on #43
Have trouble finding the glowInfoOffset with PatternScanner can anybody help me?

[2016-08-09 11:03] markietard commented on #62
@gabsens is there any more detail tutorial about this? Because I'm new to the coding community and I don't quite understand how it works. I need some help please

[2016-08-09 11:24] markietard opened #64 "Video not working in the description."
The video that you put in your description is under private, can you please un-private it? :)

[2016-08-09 12:21] iseekwonderful commented on #64
thanks for reporting this issue, fixed

[2016-08-09 17:04] markietard commented on #55
Hi @TypicalPleb I am Marcus and I am kinda new to coding, but I am trying my very best to get a better understanding of how this thing works. I am still a little bit confuse regarding the compile/build of the project. Can you add me on Skype and explain a little more about this because I am really interested in knowledge of coding. My Skype ID is Parabot911

[2016-08-09 17:51] markietard commented on #58
@Wolf-88 Can you teach me how to prep the terminal with sudo command?

[2016-08-09 22:06] ggothreau commented on #62
Just use the `sudo` command.
- Open a new Terminal.app window.
- Type `sudo` (put a space after sudo).
- Drag the compiled `Wall` product from xcode to the terminal window. (it should show the full path to your Wall executable).
- Hit enter and enter your password.

You need csgo running already before you do this, of course.

[2016-08-09 22:26] joejoepojoe commented on #62
I sorted it :) And yes, El Capitan

On Mon, Aug 8, 2016 at 1:13 PM, gabsens notifications@github.com wrote:

[2016-08-10 03:11] markwu-sde commented on #55
UPDATE:

After installing new software from Maverick to El Capitan, everything seems to be working very smoothly. @gabsens hinted at this being a Maverick problem, and this is further verification that it probably is. Only problem is that memory gets overloaded after playing for an extended period of time so the frame rate goes drastically down, but its a inevitable side effect of running the prog

[2016-08-10 06:22] completenoob2 opened #65 "Not building?"
http://prnt.sc/c3txkz

[2016-08-10 08:11] #65 closed

[2016-08-10 08:12] #55 closed

[2016-08-10 09:18] completenoob2 opened #66 "Glow ESP not working?"
So I don't have the errors anymore but it says build successful and I did the route but there is no Glow ESP ingame

Using these offsets:

uint64_t glowInfoOffset = 0x5955F00;
 uint64_t LocalPlayerBase = 0x5146638;
 uint64_t playerBase = 0x50C3248;

[2016-08-10 11:43] gabsens commented on #66
https://www.youtube.com/watch?v=AefIiBg2HKU

[2016-08-10 11:43] #66 closed

[2016-08-10 11:44] gabsens commented on #64
https://www.youtube.com/watch?v=AefIiBg2HKU

[2016-08-10 11:44] #64 closed

[2016-08-10 11:47] gabsens opened #67 "Using this hack"
I've made a video here https://www.youtube.com/watch?v=AefIiBg2HKU

Every issue along the lines of "I can't compile", "I can't use root", "how to run" will be closed as a duplicate and locked immediately.

[2016-08-10 17:21] gabsens commented on #67
And another one for the pattern scanner https://www.youtube.com/watch?v=aP99mdDzwQk

[2016-08-15 21:28] Commonly opened #68 "VAC"
I've been using this hack for around 1 month. Haven't been vacced. I'm pretty sure (for now) that this is vac-proof. I recently however have been banned by Overwatch. So if you're not careful how you use this hack, then you'll end up getting banned. So as long as you're careful no need to worry about vac getting you.

[2016-08-15 22:49] gabsens commented on #68
No one has ever been VAC banned with these open source cheats on Linux and OSX. I guess Valve does not care

[2016-08-16 21:05] K2QGIT commented on #68
Use this hack as an assist, not a crutch. Using this, I ignore most people through walls, just know you have to die sometimes...Mainly this is very helpful for dark areas of the map or finding the right headshot easier....been using this for months and am a high rank and no one has said anything ever. I'm even on a team with viewed matches of 300+.

[2016-08-16 22:53] gabsens commented on #68
August 16:

Maybe they updated VAC lmao

[2016-08-16 23:28] K2QGIT commented on #68
@gabsens Still undetected :D played comp and ESEA. It was just a compatibility update for sierra to download steam, it was a old version. No VAC updates or security as far as i can see.

[2016-08-17 11:34] gabsens commented on #68
@Wolf-88 indeed, the VAC 2 module on OSX has not been updated for a long time

[2016-08-19 01:49] Wolf-88 opened #69 "Recent Update"
The recent update kind of killed the glow... It very dim except for when a player is talking...Testing this out multiple times, you can literally only see someone when they're talking on their mic.

[SPECTATOR]
– Player xray glow now dims when player is not making any audible sound. Several convars are available to tweak this behavior; “find spec_glow” for a list.

Calling @gabsens

"spec_glow_dec

[2016-08-19 02:32] zrichmond3 commented on #69
It doesn't even work for me after that last update.

[2016-08-19 02:37] markwu-sde commented on #69
@zrichmond3 did you try using the new glow offsets? Does anyone by any chance have them?

[2016-08-19 02:59] markwu-sde commented on #69
nvm... I see what you are saying. you see glimpses of them(always red btw) when they talk but then they quickly disappear

[2016-08-19 03:06] markwu-sde commented on #69
@Wolf-88 so What settings should I make it to get the optimal settings?

[2016-08-19 03:10] zrichmond3 commented on #69
@MysticIridium nope, I may try to get it going tomorrow.  Is your hack working?

[2016-08-19 03:18] markwu-sde commented on #69
it was working a little bit(I could see the glows for a split second- but after attempting to modify the console glow settings it is no longer working.

[2016-08-19 03:21] zrichmond3 commented on #69
I've seen the glow for a split second too. Dang! I wonder how quickly they will fix this. @Wolf-88 awesome job finding this issue after the update.

[2016-08-19 03:22] markwu-sde commented on #69
i mean, if you are decent at the game, even that split second glow will help you

[2016-08-19 04:08] K2QGIT commented on #69
This is not a quick fix, most of the code needs to be fixed now to account for the different times and ratios....Unless we can make it fully glow all the time...But that external assistance.

[2016-08-19 04:25] StatTrackFender commented on #69
What part of the projects needs to be scrapped/rewritten?

[2016-08-19 05:16] K2QGIT commented on #69
So the entirety of finding the specific glows to each volume of noise and then the corresponding health of the player when glowed...or... You dont access the memory of the game and find a way to glow players fully all the time.

[2016-08-19 05:18] K2QGIT commented on #69
Of-course I could be totally wrong about everything I've said and it just a matter of finding the correct offsets the game has now

[2016-08-19 08:56] treflo commented on #69
I just compiled this, updated offsets using the pattern scanner.

Mac OSX El Captain 10.11.3
Running as root, Disabled SIP.

Seems the offsets are changed or glow isn't working properly.

Anyone send me the updated source or offsets.

 i'd gladly donate a few dollars for your help

Steam: http://steamcommunity.com/id/coder1337smile

[2016-08-19 13:11] gabsens commented on #69
Fixed, download the latest version of the repository.

The pattern scanner still gives the right offsets, only some netvars were changed.

Paypal donations accepted here mariemromon@yahoo.fr

[2016-08-19 13:11] #69 closed

[2016-08-19 13:46] MysticIridium opened #70 "Offsets for latest update?"
Here was the offsets I have received that did not work.

LocalPlayer: 514aa08
EntityList : 50c7588
Glow: 595a2d0

[2016-08-19 13:57] #70 closed

[2016-08-19 13:58] markwu-sde commented on #70
WARNING: Even though the terminal script is different, it should be working just the same.

[2016-08-20 02:27] StatTrackFender commented on #43
Latest offsets as of Aug 19, 2016:

[code]

[2016-08-20 02:53] ggothreau commented on #43
Is that not working for anybody else, or is it just me?
I only see the glows briefly, when they're behind walls, and it isn't consistent (only some players) and it is usually red. I feel like one of those values is offset by an incorrect amount in the wrong direction (or my computer is dying).

[2016-08-20 02:55] StatTrackFender commented on #43
Pull the latest changes from the repo.

[2016-08-20 02:56] ggothreau commented on #43
Ah, thanks dude!

[2016-08-22 21:37] EpicAwesomeWolf opened #72 "GUI?"
Would it be possible for a GUI that injects automagically?

[2016-08-22 21:44] gabsens commented on #72
of course it's possible, there are tons of libraries you can use to achieve that

[2016-08-23 00:30] jacc commented on #72
i'm not in anyway a coder, how hard would it be?

[2016-08-24 13:21] aKalisch opened #73 "Player and LocalPlayer structs"
I've rewritten the source to add more features (TriggerBot, Bunnyhop).

I think the your Code could be rewritten to use structs on top of the main.cpp to get all the Informations we need in later stages.

So we don't read the memory on demand. Just when while loop in main method executes.

[code]

and at main method in the while loop:
[code]

If someone is interessted in Bunnyhop and TriggerBot co

[2016-08-24 13:23] aKalisch commented on #73
I can say that my hack runs very stable without any crashes.

[2016-08-24 17:05] godmaker11 commented on #73
Can u make build for non-experience users ?
Many ppl really don't know how to use this code.

[2016-08-24 18:07] DooubleO commented on #73
@aKalisch I'm interested in that bunny hop, hit us up.

[2016-08-24 18:17] StatTrackFender commented on #73
At the end of the day, if something like this is to be implemented, the entire app should be rewritten with a UI to handle enabling/disabling actions. The glow is the only thing i've ever cared about just because it makes it easier to see the people in front of me. Trigger and aimbots are useless to me because then you aren't even playing the game.

I also feel like that once aimbots and such take

[2016-08-24 21:14] jacc commented on #73
I agree with @StatTrackFender. We're trying to keep a low-profile here.

[2016-08-24 21:16] gabsens commented on #73
LOL, the wankers at Valve can't even sig public cheats correctly on Windows, and you expect them to do something on OSX ?

[2016-08-24 21:17] jacc commented on #73
That is true. Valve probably doesn't notice us on OSX.

[2016-08-24 21:18] gabsens commented on #73
you can shoot them a message here https://github.com/ValveSoftware/csgo-osx-linux/issues and see if anything happens

@Tele42 what do you say ?

[2016-08-25 01:41] StatTrackFender commented on #73
True, but it might give them incentive to try on OS X. Thats the last thing you want, is them to actually _try_ and do something for this.

[2016-08-25 02:33] godmaker11 opened #74 "PID: 1840"
Hello.

Can't start in xCode. After i presed "Play" in log i see these errors:

Found CSGO PID: 1840
Process reallocation: 1840 -> 0 [5 - (os/kern) failure]
Failed to get get info.
Failed to get the Client.dylib address
Program ended with exit code: 9

CS:GO is running.

[2016-08-25 06:43] aKalisch commented on #73
I think VAC should be the smallest Problem with Anti-Cheat.
Overwatch is more critical. And know what? Overwatch will ban suspected cheaters cross-platform ;-)

[2016-08-25 06:45] gabsens commented on #73
Be blatant one match a day, change account, rinse and repeat

[2016-08-25 10:38] aKalisch commented on #73
For those who want to look at my hack they can look here:
https://github.com/aKalisch/GOSX-Multihack

[2016-08-25 13:24] sulik12345 commented on #73
@aKalisch Could you maybe help me with your BHOP script? I have downloaded the file, but nothing happens when i run the license thing...

[2016-08-25 15:50] aKalisch commented on #73
You need to checkout the development branch,  clone to your machine, open in xcode and build the executable.
After that run it as root after you are connected to server.

[2016-08-25 16:29] sulik12345 commented on #73
@aKalisch COuld you add me on skype? I think I might have something to show you to improve it. sulik12345 - skype

[2016-08-25 17:28] aKalisch commented on #73
Sorry m8. But i don't have Sykpe ;-)

Create a pull-request on my repo so i can review it.

[2016-08-25 19:20] DooubleO commented on #73
Getting the error:

error: couldn't create directory /Users/akalisch/Games/Tools: Permission deniederror: open /Users/akalisch/Games/Tools/GOSX-Multihack: No such file or directory

[2016-08-25 19:26] aKalisch commented on #73
Build directory is missing. In xCode click on the project on the left and then go to the Build Phases tab in the middle.
Open Copy-Files and remove the entry GOSX-Multihack

[2016-08-25 19:42] DooubleO commented on #73
@aKalisch Is there a way to only have glow and bhop and not trigger?

[2016-08-25 19:52] aKalisch commented on #73
Press CTRL + L
That will switch of the trigger bot ;-)
You also can see the state when you launch the hack ;-)

[2016-08-25 20:07] DooubleO commented on #73
ty

[2016-08-25 21:59] rawrchad commented on #74
run it is Terminal, I use this code

sudo /Users/Chad/Library/Developer/Xcode/DerivedData/Wall-gifxcnmvcwiksnehpbpyvgfifbrk/Build/Products/Debug/Wall

While in XCode Press Command B then you will see the exec/Terminal Bash and it will be titled wall, just type in terminal Sudo then right click that wall bash file click find in finder then drag into terminal. I tried explaining the best I could.

[2016-08-25 22:01] rawrchad opened #75 "Script for El Capitan to Run CSGO at Priority High?"
I know you use to be able to do it on older version of mac as shell script renice -20 but I can not figure it out for El Capitan. I believe that it may help the crash issue, if anyone can help me and also fellow Macbook Pro Players for this that would be great :]

[2016-08-25 22:02] rawrchad commented on #75
Sorry  I know this isn't really the right place, but you guys know more about scripts than I do, as I am newer to the mac scene.

[2016-08-25 22:03] gabsens commented on #75
Didn't ever give me the slightest FPS boost, I'd stick to `mat_queue_mode 2`if I were you

[2016-08-25 22:08] rawrchad commented on #75
Thank you! What do you set your max fps to as well?
Also what about your launch options here is what I have set,
-console -novid -lv -nod3d9ex -threads 4 -high

[2016-08-26 06:22] godmaker11 commented on #74
@rawrchad thanks for help, i did all what you say, but in game nothing changes.
Terminal text -

Found CSGO PID: 45544
Process reallocation: 45544 -> 1503 [0 - (os/kern) successful]
CSGO Memory 4528177152
Version: 14, 293 images at offset 0x101800000
Found the Client.dylib address: 0x128800000
Module should end at 0x12d91e000

Have no idea how to set wallhack on.

`Last login: Fri Aug 26 10:51:22

[2016-08-26 08:23] godmaker11 commented on #74
ok. now it's work. thank you

[2016-08-26 10:58] #74 closed

[2016-08-26 12:55] aKalisch commented on #73
Updated my code and added a README :-) We might close this here. Would be better to discuss issues on my hack on my Repo :-)

[2016-08-26 12:59] #73 closed

[2016-08-28 19:19] MysticIridium opened #76 "CS GO Crashing Randomly?"
I doubt that this is a glitch pertaining to the hack,

but CS GO randomly closes and shuts down after around 15-20 minutes(with the hack running). It usually starts with glitches once in a while(stutters) , and then is followed up with a long stutter and the game closing down. Is this because the hack is taking too much much memory?

[2016-08-28 22:57] rawrchad commented on #76
It is just the fact of using a macbook lol oh and if you hold TAB it might crash lol

[2016-08-28 23:17] jacc commented on #76
@rawrchad Try without using the hack and report back to us.

[2016-08-29 15:47] joejoepojoe opened #77 "Detected by FACEIT"
I used the hack for 3 games in faceit, a round into my 4th game, i got perma banned for cheating on a premium account. Do no use this on FACEIT, their anti-cheat picks this up.

[2016-08-29 17:06] iseekwonderful commented on #77
yeah, don't use this in any platform who has third part anti-cheat

[2016-08-29 17:08] iseekwonderful commented on #76
does anyone here know how to find the log related to a crash in macOS?

[2016-08-29 17:16] iseekwonderful commented on #72
not really complex but is it necessary?

[2016-08-29 17:16] #72 closed

[2016-08-29 17:18] iseekwonderful commented on #52
we will add a judgement that round is start to invoid memory write to known heap which may cause crash

[2016-08-29 17:25] #62 closed

[2016-08-29 19:25] rawrchad commented on #77
It's because FACEIT has a program that takes screenshots, so like if you take a screenshot with your steam it shows the chams? Well same for faceit

[2016-08-29 19:26] gabsens commented on #77
@rawrchad  faceit anticheat is 100% server sided, what are you talking about ?

[2016-08-30 15:13] rawrchad commented on #77
Then the only way they could tell is if you are blatantly looking at the through the walls? I haven't been banned on faceit lol but a lot of faceit players have told me thats what they do.

[2016-08-30 15:16] gabsens commented on #77
@rawrchad they review people's demo when they get reported too much. Their anticheat looks for blatant no-recoil, triggerbot and perfect bunnyhop.

[2016-09-04 23:10] joejoepojoe commented on #77
@gabsens maybe it was bhops? I mean i am a bhopper but i dont know if i bhopped much
@rawrchad also i have used this long enough to know how to make myself look legit

[2016-09-07 13:19] markwu-sde commented on #76
UPDATE:

So after looking around and typing in the console mat_queue_mode 2, it helps a little bit with the crashing. However, what I found most helpful in restarting the walls after each game.

[2016-09-07 13:20] markwu-sde commented on #76
@iseekwonderful @gabsens

Also, is it theoretically possible to create aimlock in xcode? I was thinking of trying to make it but I dont know how I would go about doing it. Advice?

[2016-09-07 22:55] extrenebiibues opened #78 "How to toggle?"

[2016-09-08 20:20] extrenebiibues opened #79 "Can you make a no flash option and a small gui?"
# @

[2016-09-09 04:13] #79 closed

[2016-09-14 04:13] DooubleO opened #80 "Error"
the pid of csgo is 994
994 -> 0 [5 - (os/kern) failure]
failed
failed
task is 0

Getting this everytime I try to load it

[2016-09-14 04:29] DooubleO commented on #80
Nevermind, I reinstalled it and forgot to set it to run with root

[2016-09-14 11:40] #80 closed

[2016-09-17 01:45] tkriews opened #81 "Not working"
followed tutorial and didnt work is it because of the update?

[2016-09-17 01:54] McSwaggens commented on #81
Did you run the hack as root?

[2016-09-17 01:56] extrenebiibues commented on #81
i think the update ruined it?!? can we get a fix asap

[2016-09-17 01:57] DooubleO commented on #81
you just need to find the new offsets

[2016-09-17 01:59] tkriews commented on #81
I've ran this perfectly plenty of times and an update just came out a few hours ago and now it doesnt work. Is there an ETA for when it will be back working?

[2016-09-17 01:59] extrenebiibues commented on #81
@DooubleO how do u do that?

[2016-09-17 02:02] DooubleO commented on #81
Use the pattern scanner

[2016-09-17 02:02] DooubleO commented on #81
https://www.youtube.com/watch?v=3kMyiZ5yuvE

[2016-09-17 02:08] tkriews commented on #81
How would that help

[2016-09-17 02:14] DooubleO commented on #81
The offsets change every update. You find the new offsets with the pattern scanner and change the offsets in the code....

[2016-09-17 02:16] tkriews commented on #81
Is there a video on how to do that?

[2016-09-17 02:17] DooubleO commented on #81
Have a look at this
https://github.com/gabsens/Pattern-scanner-for-OSX

[2016-09-17 02:17] DooubleO commented on #81
There is a video on that

[2016-09-17 02:20] extrenebiibues commented on #81
@DooubleO oi once i change the code how do i get the updated one?

[2016-09-17 02:41] tkriews commented on #81
@DooubleO I changed it now what do I do with it

[2016-09-17 02:48] extrenebiibues opened #83 "offsets?"
i just got the offsets changed them on xcode and the glow still aint working?

[2016-09-17 02:59] hitmyquatch commented on #83
Yes for me too, I entered the offsets
uint64_t glowInfoOffset = 595b3a0;
uint64_t LocalPlayerBase = 514bad8;
uint64_t playerBase = 50c8658;
yet it still doesnt work

[2016-09-17 03:00] hitmyquatch commented on #81
uint64_t glowInfoOffset = 595b3a0;
uint64_t LocalPlayerBase = 514bad8;
uint64_t playerBase = 50c8658;
these are the offsets I used yet it did not work

[2016-09-17 03:01] tkriews commented on #81
I got the same but I get a compiling error when I change them on my main.cpp then open it in xcode and hit build

[2016-09-17 03:08] hitmyquatch commented on #81
if anyone gets it to work please comment

[2016-09-17 03:08] McSwaggens commented on #81
Anyone know the offset to `crossHairID`?

[2016-09-17 03:37] markietard commented on #81
@tkriews Yea man, I'm sorta having the same problem as you. It says _BUILD FAILED_ whenever I hit the build button.

[2016-09-17 03:44] sacredgeo commented on #83
Those are also the new offsets I've found with the pattern scanner. Sometimes it will give a glow to one of my team mates, and I can see only that person through the walls. The hack will still work, but I believe the offsets are changed. From the youtube tutorials, I've followed the instructions exactly to find the local player offset, but it's just not working. It's supposed to be 0x12C away from

[2016-09-17 03:47] sacredgeo commented on #81
It builds fine. The offsets provided by the pattern scanner don't seem to be working right.

[2016-09-17 03:51] hitmyquatch commented on #81
for me it builds fine, it just seems that the offsets are not correct

[2016-09-17 03:51] sacredgeo commented on #52
Assault is the only map that causes this to crash for me. Great work regardless. I've been hoping for a mac osx hack for years. You guys are legends!

[2016-09-17 03:53] hitmyquatch commented on #83
I updated it to these,
uint64_t glowInfoOffset = 0x595B3A0;
uint64_t LocalPlayerBase = 0x514BAD8;
uint64_t playerBase = 0x50C8658;
building it is just fine, but i think that someone will have to manually find each offset

[2016-09-17 04:12] sacredgeo commented on #83
Unless I misunderstood the video, the location of the player offset was 0x12C away, but I found it at 0x134. I'm still working on getting it working. Making progress...

[2016-09-17 04:13] hitmyquatch commented on #83
you're a real hero thank you for your service

[2016-09-17 04:17] sacredgeo commented on #83
The weird part is, I still got the same offset:

Player Health - 0x134 -> base("/client.dylib") + 0x514BAD8

So now I have no idea what to do.

Edit: I'm using bit slicer, like he instructs in the youtube video. The entity list offset also still appears to be 0x50C8658.

[2016-09-17 04:52] sacredgeo commented on #83
Manually found the glow offset as well. It's 0x595B3A0. So it seems the pattern scanner was right.

[2016-09-17 05:32] sulik12345 opened #84 "Problem with New Update."

[2016-09-17 05:33] sulik12345 commented on #84
When trying to build with the new update, I get an issue saying
"Unknown type name 'LocalPlayer' and also another one.

[2016-09-17 05:50] DooubleO commented on #84
@gabsens Help us all out

[2016-09-17 06:40] ggothreau commented on #84
The most recent update is not valid C++ code.

`+LocalPlayer: 514bad8
+EntityList : 50c8658
+Glow: 595b3a0`

It should be:

`uint64_t glowInfoOffset = 0x595b3a0;
uint64_t LocalPlayerBase = 0x514bad8;
uint64_t playerBase = 0x50c8658;`

But those offsets don't seem to work to me, I suspect the health / teamnum / etc variable offsets have changed. Can't figure out what they are right now.

[2016-09-17 09:52] aKalisch commented on #81
It seems that the GlowInfoOffset changed.

[2016-09-17 09:57] aKalisch commented on #81
Find 0xAC00 and replace it with 0xAC10

Working fine for me ;-)

[2016-09-17 09:57] aKalisch commented on #81
Also I will now test my complete Offsets and post them here (I got some more for a Working Aimbot and all that stuff.

[2016-09-17 10:00] PredictEr opened #85 "Not Working 9/17"
When the new update came out, I thought the csgoglow would be updated and downloaded it it, but when I tried to install/build it, this happened. Any help?
<img width="1116" alt="screen shot 2016-09-17 at 1 48 43 pm" src="https://cloud.githubusercontent.com/assets/22254866/18607492/ee2acab0-7cde-11e6-9d9a-50552d527acf.png">

[2016-09-17 10:06] sulik12345 commented on #81
@aKalisch what happened to your Multihack!?!?!? THe page isnt opening

[2016-09-17 10:17] aKalisch commented on #81
I've took it offline, because I don't want to risk to get Untrusted with it.

Will release something public soon.

[2016-09-17 10:19] iPredictable commented on #81
@aKalisch can you hmu with any osx cheat bro? I miss trolling kids in casual :/

[2016-09-17 10:28] aKalisch commented on #84
The Offsets work correctly.

int m_iGlowIndex = 0xA2E0; <<< This is wrong. Add 0xC to it.

int m_iGlowIndex = 0xAC10; <<< This is my Offset that works correctly.

[2016-09-17 10:32] extrenebiibues commented on #84
@aKalisch dude im trying that but the build still fails? Im new to c++ can u tell me what to do?

[2016-09-17 10:34] aKalisch commented on #81
Sure you can ;-)

Make your Source Code public, get a Signature of it and Valve can bust you (Also on Mac :-))

[2016-09-17 10:36] extrenebiibues commented on #84
@aKalisch https://gyazo.com/1092679159615f902d7be5755d069fd6 this is what it looks like

[2016-09-17 10:37] aKalisch commented on #84
So u've commited something without knowing what you are doing?

[2016-09-17 10:37] sulik12345 commented on #81
@aKalisch When do you think you will release something public?

[2016-09-17 10:37] extrenebiibues commented on #84
@aKalisch lol i did it by accident im only now learning how to use github

[2016-09-17 10:40] extrenebiibues commented on #84
@aKalisch well im learning i doubt u coded 30 websites every day when u first started

[2016-09-17 10:54] aKalisch commented on #84
Created a pull request. Please be patient until it's approved.
Then glow should work.

PR is #86

[2016-09-17 10:56] aKalisch commented on #85
Fixed in PR #86

[2016-09-17 10:56] aKalisch commented on #83
Fixed in PR #86

[2016-09-17 10:57] aKalisch commented on #81
Issue fixed in PR #86

[2016-09-17 10:58] aKalisch commented on #81
@sulik12345 I don't know yet.

It will be just something basic (Glow, Trigger, Bhop, Autopistol switch, No-Flash, Radar Hack).

[2016-09-17 10:58] extrenebiibues commented on #83
@aKalisch yo i was a fan of ur cheats what happend to them? did u privatise them? nevertheless thank you for ur help i hope u find 50 euros on the pavement and find a puppy u really like

[2016-09-17 10:59] sulik12345 commented on #84
@aKalisch this happens...

Found CSGO PID: 954
Process reallocation: 954 -> 0 [5 - (os/kern) failure]
Failed to get get info.
Failed to get the Client.dylib address

[2016-09-17 11:00] sulik12345 commented on #84
with all your changes

[2016-09-17 11:06] aKalisch commented on #84
I've tested it and it works.

You've made something wrong.

Post the code that you've changed.

[2016-09-17 11:07] sulik12345 commented on #84
http://pastebin.com/0ShYT1WN

[2016-09-17 11:09] aKalisch commented on #84
It works ;-)

[2016-09-17 11:52] extrenebiibues opened #87 "new glow makes entities glow aswell?"
some guns on the floor glow some dont why is this?

[2016-09-17 15:23] extrenebiibues commented on #81
@sulik12345 where u from i need soemoen to play with since glow only is not enough to get to a high rank solo q

[2016-09-17 16:04] ggothreau commented on #84
@sulik12345 is probably not running as root. There are instructions in other issues, search previous issues.

[2016-09-17 16:32] extrenebiibues commented on #84
@ggothreau do u play mm? if u do wanna play? xD

[2016-09-17 17:52] sacredgeo commented on #84
@aKalisch Can you tell me more about m_iGlowIndex? I was able to find the other offsets with bitslicer. How do you find that one? Thanks!

[2016-09-17 17:56] aKalisch commented on #84
I've researched it one by one (+ 0x4) until my glow was working.

I'd know that some netvars (offsets) changed during the Update. So I've did it this way.

https://www.youtube.com/watch?v=3HhD7WNzSno watch this video how to find the glow offset ;-)

[2016-09-17 17:57] PredictEr opened #88 "Source Code For Bhop Scripts"
Feeling Nice Today, Feel Free To Steal It.
https://gyazo.com/036df30296110c0240a3acf087b7142e

[2016-09-17 18:38] sacredgeo commented on #84
@aKalisch I have watched all the youtube videos. They're great. Using that video I found the glow offset 0x595b3a0. It's actually really fun playing with bit slicer to find these values. But I still don't understand how you get m_iGlowIndex = 0xAC10. I see you just added 4 bytes at a time, but how do you know where to start?

[2016-09-17 18:46] aKalisch commented on #88
Sorry this one would never work ;-)

It's for Windows.
Also you need to obtain the Offsets for dwForceJump.

In my opinion the dwForceJump is not that good because it triggers to slow.
I've did it by sending a keypress on space when my player hits the ground. Working more nicely ;-)

[2016-09-17 18:50] aKalisch commented on #84
https://github.com/iseekwonderful/csgoGlow/pull/86/files

Look the changed parts in my PR. There you see the old GlowIndexOffset (m_iGlowIndex). I've took this to get it.
If you want to go deeper into memory reading and manipulating memory you should have a look at Hopper. That's a great tool to get Offsets for almost everything.

Also searching for byte arrays could give you some great Offsets :-

[2016-09-17 18:53] gabsens commented on #84
@aKalisch you got a license for the latest version of Hopper ?

[2016-09-17 18:55] aKalisch commented on #84
Not the latest. Using 3.9.15 ;-)

[2016-09-17 18:56] sacredgeo commented on #84
@aKalisch Thank you :]

[2016-09-17 18:56] gabsens commented on #84
@aKalisch with the shitty debugger then

[2016-09-17 18:58] aKalisch commented on #84
@gabsens could be :-P I don't use it because just read the dylib ;-)

[2016-09-17 18:58] sulik12345 commented on #88
@aKalisch could you send me it please :P

[2016-09-17 18:58] sulik12345 commented on #81
@extrenebiibues In the EU

[2016-09-17 18:59] aKalisch commented on #88
You already got it ;-) (In my hack, you know?)

[2016-09-17 19:02] aKalisch opened #89 "Pull-Requests and approvement"
As of today there happens a big mistake and a PR was merged without notice that it holds a bug where you not even can compile.

Would be great to approve that the PR is working correctly before merging.

[2016-09-17 19:05] gabsens commented on #84
@aKalisch off-topic, but be mindful of script kiddies like [him](https://www.youtube.com/watch?v=i-GuxLkRKk4) who's seeking easy profit from open-source OSX cheats (which is why I haven't released anything publicly)

[2016-09-17 19:12] #84 closed

[2016-09-17 19:13] extrenebiibues commented on #88
@aKalisch the one ur making or the old one? cuz u removed one

[2016-09-17 19:14] #78 closed

[2016-09-17 19:18] gabsens commented on #89
Would be great if kids with 0 knowledge of programming precluded themselves from suggesting retarded commits that result in tens of other kids asking why the code is not compiling.

@extrenebiibues

[2016-09-17 19:18] aKalisch commented on #84
Yes sure. That's why I've took my hack offline.
When releasing a public one without any warranty ... If they want to steal it, they should. Also if there will be any changes to VAC they get busted until I've got a running hack without been busted by VAC ;-)

[2016-09-17 19:19] #81 closed

[2016-09-17 19:20] #83 closed

[2016-09-17 19:21] #85 closed

[2016-09-17 19:22] aKalisch commented on #87
Think this is fixed in my PR. The m_iGlowIndex offset was wrong. Should work all fine ;-)

[2016-09-17 19:22] #77 closed

[2016-09-17 19:22] #68 closed

[2016-09-17 19:23] gabsens commented on #52
@sacredgeo it's weird, please provide more details

[2016-09-17 19:23] #56 closed

[2016-09-17 19:24] #75 closed

[2016-09-17 19:34] extrenebiibues opened #90 "Stupid question."
When spectating u can see players everywhere with the glow but using the same type of glow how come we cant achieve that?

[2016-09-17 19:34] extrenebiibues commented on #90
im not asking for u to do it im asking why it isnt possible btw

[2016-09-17 19:43] GreyWolf25 opened #91 "Build not successful"
I am trying to compile the exec but does seem to work because there is this error with the:

int m_iGlowIndex = 0xAC10;

And the error is "Unknown type name 'LocalPlayer'"
And the error is "Expected unqualified-id

Can anyone help me get this thing to work cheers

Here's Picture of code don't know if it will work.
<img width="846" alt="screen shot 2016-09-18 at 7 42 37 am" src="https://cloud.githu

[2016-09-17 21:12] sacredgeo commented on #52
@gabsens  Sure. It works fine on every other map. Usually when I join assault, the game keeps going, but the hack stops. So I open a new terminal and launch the hack again. It usually crashes quickly. I'll do some tests and figure out exactly when. I think when  the round changes. I'll get back to you.

[2016-09-17 21:18] aKalisch commented on #91
Fixed in PR #92

[2016-09-17 21:27] sacredgeo commented on #52
@gabsens

Test #1: Join cs_assault. The hack worked during warmup. I was on T side, and it was fine. I switched to CT side and it still worked. Warmup ended. During round 1, the hack was no longer working. I launched a new terminal, sudo -s, and it worked again. I played the next round and it was working. When the next round started (round 2), the CSGO application crashed.

[2016-09-18 04:07] iPredictable commented on #88
@aKalisch is your bhop script public or private?

[2016-09-18 05:51] aKalisch commented on #90
Can you explain what you mean?

[2016-09-18 10:43] extrenebiibues commented on #90
@aKalisch u cant see say the enemy team in their spawn through a ton of walls, how come?

[2016-09-18 20:24] extrenebiibues opened #93 "How to change colour?"
how do i change the base colour before amber orange and bright red? Im only asking so i can get to understand this whole coding thing since im learning to realise from watching gabsens videos u can do a lot more with xCode than i thought

[2016-09-19 00:15] sacredgeo commented on #90
I like that you can't see the entire enemy team if they are far away. It would be overwhelming to see every player. This hack shows you players that are nearby.

[2016-09-19 16:40] aKalisch commented on #93
Line 411: `Color color = {float((100 - health) / 100.0), float((health) / 100.0), 0.0f, 0.8f};`

Google for Colorpicker in Google.
Pick the color you want and have a look at R, G, B.

Make a new color struct: `Color color {(<R value> / 255), (<G value> / 255), (<B value> / 255)};`
So for Color Pink: `Color color {(255 / 255), (0 / 255), (255 / 255)};`

[2016-09-19 20:12] extrenebiibues commented on #93
@aKalisch hmm i tried it but either there is an error, the glow doesnt work at all, or nothing happens can u send me an ss of an example it doesnt have to be pink it can be blue or something just so i can have an idea of what to mess with

[2016-09-19 21:01] extrenebiibues commented on #90
@sacredgeo but i would rather know what site the enemy is going to, stack it and then toggle off

[2016-09-20 08:16] aKalisch commented on #93
Oh yes sure. Missed the alpha value.

The code should be:
`float alpha = 80.0f; // percentage of glow effect`
`Color color {(<R value> / 255), (<G value> / 255), (<B value> / 255), (alpha / 100)};`

[2016-09-20 15:42] extrenebiibues commented on #93
@aKalisch https://gyazo.com/1e5384ee9b1012a39e59931c4d78169c
I dont know whats wrong with it the code, the glow just doesnt come up at all the original source code is
       Color color = {float((100 - health) / 100.0), float((health) / 100.0), 0.0f, 0.8f};

[2016-09-20 15:54] PredictEr opened #94 "Other OSX Hacks"
I know I shouldn't be asking this here, but everywhere else nobody understands that hacks can be coded in osx, I was just wondering if anyone has other hacks that they either want to share or sell, Im interested , Thanks.

[2016-09-20 16:04] extrenebiibues commented on #94
just make one  dude its so much more satisfying and safer.

[2016-09-20 16:17] iPredictable commented on #94
@extrenebiibues I would but I dont know how ;/

[2016-09-21 22:20] extrenebiibues commented on #94
@PredictEr if u find some tell me we need an aimbot that slows down your dpi / sensitivity when hovering an enemy or something like that

[2016-09-21 22:33] extrenebiibues opened #95 "How hard would this be to do?"
https://gyazo.com/769b81304b954d1219a0a9b26cf395c1

[2016-09-22 01:29] ggothreau commented on #43
Latest offsets as of Sep 21, 2016:

[code]

[2016-09-22 02:06] oscargriffin opened #96 "currently not working"
Found CSGO PID: 809
Process reallocation: 809 -> 1603 [0 - (os/kern) successful]
CSGO Memory 4426080256
Version: 14, 292 images at offset 0x101800000
Found the Client.dylib address: 0x134800000
Module should end at 0x13991e000
this is the lines i get after doing sudo -s and typing password in

[2016-09-22 02:14] macosxuser commented on #96
can confirm, the esp glow broke with new update

[2016-09-22 02:42] hitmyquatch commented on #96
It does work, make sure you replace the code
uint64_t glowInfoOffset = 0x595c4a0;
uint64_t LocalPlayerBase = 0x514cbd8;
uint64_t playerBase = 0x50c9748;
and build it again

[2016-09-22 06:22] rissc commented on #96
Offset for Localplayer is wrong.

Correct Offsets are:
m_dwLocalPlayer: 0x50B2EB8;
m_dwEntityList: 0x50C9748;
m_dwGlowInfo: 0x595C4A0;

[2016-09-22 06:23] aKalisch commented on #96
Offset for Localplayer is wrong.

Correct Offsets are:
m_dwLocalPlayer: 0x50B2EB8;
m_dwEntityList: 0x50C9748;
m_dwGlowInfo: 0x595C4A0;

Corrected in PR #92

[2016-09-22 06:24] aKalisch commented on #95
Not possible until you create external hacks. You need to create a internal hack to make it possible.

[2016-09-22 06:25] aKalisch commented on #94
@extrenebiibues why you want to do that?
Just make smooth aim and you are fine.

[2016-09-22 06:27] aKalisch commented on #93
In you screen the variable is not used.

Correct that and it should work.
Did this in my hack to and works like a charm.

[2016-09-22 13:34] iPredictable commented on #94
@aKalisch do you have a smooth aim hack?

[2016-09-22 13:35] aKalisch commented on #94
Yeah. But it's not public. Today i had Stats 46 2 3 on public MM :-D working so freaking good if I want :-)

[2016-09-22 13:37] iPredictable commented on #94
@aKalisch do you sell anything privately?

[2016-09-22 13:49] aKalisch commented on #94
@PredictEr at the moment I'll not share my hack as it's still in development.

[2016-09-22 14:35] iPredictable commented on #94
@aKalisch aww rip. you planning to in the future?

[2016-09-22 14:41] extrenebiibues commented on #94
@aKalisch will ur hack have smooth aim? If u can make on thats not obvious it would be greatly appreciated

[2016-09-22 14:49] extrenebiibues opened #97 "Guys how do i make it toggle-able"
i want it to toggle whenever i click CMD

[2016-09-22 15:21] extrenebiibues commented on #93
@aKalisch i did and the glow wont show up

[2016-09-22 15:47] PredictEr opened #98 "Starting To Code"
Hi guys, I've never known how to code but I want to learn how to, especially for hacks for mac and windows. Anyone has an idea on how to start and where to learn things?

[2016-09-22 15:56] extrenebiibues commented on #93
@aKalisch i did it omg took me a week but hells yea im lurning!!11!111!

[2016-09-22 16:32] aKalisch commented on #98
go to www.unknowncheats.me and look through the board. You will find good source code and tutorials as you need them.

[2016-09-22 16:53] extrenebiibues commented on #98
@aKalisch speaking of coding how do i make a toggle button?

[2016-09-22 17:08] iPredictable commented on #98
@aKalisch yeah but for mac osx

[2016-09-22 17:11] extrenebiibues commented on #98
@PredictEr he means learning the language, idk why but he needs to be more reciprocal cuz right now he needs to think about c++ as a language and not some game

[2016-09-22 23:17] rawrchad commented on #96
I had posted a merge for the offsets idk if it was uploaded or not though. These comments have the right offsets though.

[2016-09-23 02:49] MyNameIsLebronJames commented on #96
Basically, this is undetected correct? since its like running chrome in the background, valve can't detect it.

[2016-09-23 03:20] Acornay opened #99 "CAPS ARE STUCK ON?"
HELP! MY CAPS ARE ALWAYS ON AND I THINK I DID SOMETHING WITH TERMINAL << I EXITED OUT BEFORE CLOSING ANYTHING AND I CANT DO ANYTHING

[2016-09-23 03:49] #99 closed

[2016-09-23 04:51] aKalisch commented on #97
You can toggle with the "V" key.

[2016-09-23 07:10] extrenebiibues commented on #97
@aKalisch just V? I dont think u can i have tried it

[2016-09-23 07:26] oscargriffin commented on #96
cheers lads my bad but cheers for the help

[2016-09-23 11:54] iPredictable commented on #97
@aKalisch V doesnt work,

[2016-09-23 11:54] PredictEr opened #101 "Toggle"
Hi, I just wanted to say the toggle button "V" doesnt work for me.

[2016-09-23 15:08] extrenebiibues commented on #101
same

[2016-09-23 19:07] DooubleO commented on #94
@aKalisch You had your multihack up for a while that had bhop, trigger and walls. By any chance could I get the bhop seperate?

[2016-09-23 20:41] extrenebiibues commented on #94
@DooubleO its source mod detected just wait for his next multihack

[2016-09-23 20:43] aKalisch commented on #94
@extrenebiibues No it's not ;-) it could be detected because it's "perfect" ... that means it made every hop perfect.

[2016-09-24 09:20] deezysleazy commented on #49
i got vaced, not really safe worked for a few games, i was hiding it, friends didn't even notice

[2016-09-26 20:08] extrenebiibues opened #102 "Where can i learn to code a smooth aim / buy one, for mac"
does anyone have one i can get for mac? UC is for pc no one helps u if ur on os x

[2016-09-26 20:20] extrenebiibues commented on #94
@aKalisch Can you release a smooth aim separate? I would literally be contempt with that and i could try go through it and make a rage one? I need mac source codes so i can learn c++. Also an aimbot would be so cool

[2016-09-27 05:24] MyNameIsLebronJames commented on #88
@sulik12345 you have Skype add me?

[2016-09-27 14:39] iPredictable commented on #49
@deezysleazy you cant get vac'd u mightve gotten overwatched or vac'd from something else

[2016-09-28 11:06] rissc commented on #102
But u can port any PC hack to Mac OS X (as I did ;-) )

[2016-09-28 11:08] aKalisch commented on #102
U can port the sources from PC to OS X as I did ;-)

[2016-09-28 11:39] MyNameIsLebronJames commented on #102
@aKalisch you say these things but don't tell us how to do it!!! (may I have your OS X hack ;))

[2016-09-28 11:52] aKalisch commented on #102
@Acornay

First: No u don't. Will keep it private.

Second: I needed to learn it myself. If u have a bit of coding knowledge u will do fine recreating stuff from PC Cheats to OSX Cheats. Both system are not to different from each other.

Third: I try to help as much as I can. But I'm not willing to show you every line of C++ code until u've made ur Hack working.

U may should look at UC, download

[2016-09-28 13:04] MyNameIsLebronJames commented on #102
@aKalisch okay thank you! I'll try to see what I can do this week. ;D

[2016-09-28 17:04] iPredictable commented on #102
@Acornay tell me what happens. I'll help u out

[2016-09-28 21:10] MyNameIsLebronJames commented on #102
@PredictEr do you have Skype? i have a question on how to do this

[2016-09-28 23:29] ggothreau commented on #43
Latest offsets as of Sep 28, 2016:

[code]

*edit: there was an update 5 hours after I posted this, but these offsets still seem to work.

[2016-09-28 23:48] AdsL1221 opened #103 "New Update"
new Steam update, stopped working, new codes, for

uint64_t glowInfoOffset
uint64_t LocalPlayerBase
uint64_t playerBase
uint64_t m_iGlowIndex

thanks

[2016-09-28 23:55] Alanpxc commented on #103
Yeah, they update the codes...

[2016-09-28 23:56] AdsL1221 commented on #103
as you get new codes, so I can help

[2016-09-28 23:59] sacredgeo commented on #103
Has anyone tried the pattern scanner? CS is updating, I'll give it a shot in a few minutes.

[2016-09-29 00:00] AdsL1221 commented on #103
I already freely downloaded the update, but I have not the procedimento scan

[2016-09-29 00:10] sacredgeo commented on #103
uint64_t glowInfoOffset = 0x595c570;
uint64_t LocalPlayerBase = 0x514cca8;
uint64_t playerBase = 0x50c9818;

int m_iGlowIndex = 0xAC10;

[2016-09-29 00:15] Alanpxc commented on #103
so how to fix that?

[2016-09-29 00:15] columbusblue34 commented on #103
is that the updated codes

[2016-09-29 00:16] K2QGIT commented on #103
@sacredgeo if they want help they can read, lots of people on here now are looking for handouts

[2016-09-29 00:24] columbusblue34 commented on #103
how can i toggle it

[2016-09-29 00:40] sacredgeo commented on #103
@Wolf-88 I understand...  but when m_iGlowIndex is changed and the pattern scanner can't find that value, I appreciate when someone else posts it. It's like a "pay it forward" thing I guess.

[2016-09-29 02:36] columbusblue34 opened #104 "fov aimbot for mac"
please help me either code one or find one

[2016-09-29 03:11] K2QGIT commented on #103
@sacredgeo everything works fine. Look at main.cpp for any updates from the 3 people working on it, no need for questions.

[2016-09-29 03:21] sacredgeo commented on #103
@Wolf-88 main.cpp doesn't have the latest offsets. It was updated 6 days ago. Thanks for your advice, but I'll help whoever I want.

[2016-09-29 03:25] sacredgeo commented on #103
@Wolf-88 hahaha how about in August when you were here begging for help? https://github.com/iseekwonderful/csgoGlow/issues/60

"Ive used @gabsens pattern scanner and the old method and am successfully able to find local player and player base but glow is not working and I have found 3 different offsets for it... Im sorry im asking for help again like everyone. Many thank yous."

What a hypocrite.

[2016-09-29 03:32] gazababon123 commented on #103
so, the whole thing is not working... not only in my laptop right?...

[2016-09-29 04:10] PredictEr commented on #104
make your own you lazy fuck lmao, its honestly not that hard

[2016-09-29 04:57] #104 closed

[2016-09-29 04:57] #102 closed

[2016-09-29 04:57] #98 closed

[2016-09-29 04:58] #95 closed

[2016-09-29 06:27] aKalisch commented on #103
Working offsets in PR #105

[2016-09-29 07:06] K2QGIT commented on #103
@sacredgeo The difference is, I know when something is actually broken and when its not, I get help from more experienced coders and learn from it.  Im saying I dont want the hack to be so easily accessible and public that they decide to fix the VAC for OSX. Questions that say "Give it to me" arent very helpful, asking specific questions or asking the step on how to fix it are much more valuable.

[2016-09-29 15:48] deezysleazy commented on #97
anyone figure it out?

[2016-09-29 16:39] deezysleazy commented on #49
can't u get overwatched from it?

[2016-09-30 00:58] sacredgeo commented on #103
@Wolf-88 Sorry for the late reply... Just got back from a 15 hour shift at the hospital. Anesthesia residency sure is exhausting. What's that you said about when I'm older? That's pretty funny you assumed I'm 12. I guess that makes me Doogie Howser.

The thing is, the offsets did change. aKalisch updated them, as you predicted, but in the mean time the hack was not working (as several users pointe

[2016-09-30 04:15] #103 closed

[2016-09-30 07:12] #101 closed

[2016-09-30 07:15] aKalisch commented on #97
Will fix this soon. The key is now `CMD` + `ALT` + `SHIFT` + `\`

Will change it to `CTRL`\+ `ALT` + `V`

[2016-09-30 07:24] aKalisch commented on #97
Now fixed @commit 2cc35d6

[2016-09-30 07:24] #97 closed

[2016-09-30 07:25] aKalisch commented on #96
Fixed @commit 20379c351cd7e4174c2d55d159d41716d970bb85

[2016-09-30 07:25] #96 closed

[2016-09-30 07:26] #91 closed

[2016-09-30 07:34] aKalisch commented on #90
As specator there is not that much performance needed. So the engine can show Enemies on the complete map. Due to performance the engine hides your enemies as long the engine don't need to render them.

In Source SDK this is called area portals.
It hides everything that doesn't need to be rendered as you can't see it.

So there is no way to fix this. This is map dependend.

[2016-09-30 07:34] #90 closed

[2016-09-30 07:36] #87 closed

[2016-09-30 07:46] aKalisch commented on #94
Ok Guys. As some of u requesting my stuff I will shortly release some public sources.

But. These are just sources. No Offsets, no implementation, no support.
You need to get it yourself into your hack base.

@EDIT:
Here we go.
https://github.com/aKalisch/source-bunnyhop/

Have Fun ;-)

ps: more to come soon

[2016-09-30 09:44] aKalisch commented on #58
This should not be needed anymore as the hack was optimized.
So I can close this here.

[2016-09-30 09:45] #58 closed

[2016-09-30 09:46] #88 closed

[2016-09-30 14:02] sulik12345 commented on #94
@aKalisch what do i do with this lmao xD

[2016-09-30 14:06] loco41211 commented on #94
@sulik12345 if you don't know what to do with these, then you're not ready or they aren't for you:

[2016-10-01 06:12] Eggsdee opened #107 "Toggle Issue.."
Can someone please specify how to literally toggle the hacks..
Step by step thanks :)

I might be doing it wrong or it doesn't work at all.

[2016-10-01 08:22] aKalisch commented on #107
@Eggsdee Look carefully at this commit c2c6f59662171495b8044aa7cd843840229bbc52 and you will have the answer.

Hint: Look the inserted comment on top of the file ;-)

[2016-10-01 08:23] aKalisch commented on #107
Oooops made a mistake at the comment. Will fix!

[2016-10-01 08:26] aKalisch commented on #107
@Eggsdee Fixed in commit 4226e4a

[2016-10-01 08:26] #107 closed

[2016-10-01 16:07] Eggsdee commented on #107
Hey man!! Thank you :)

[2016-10-02 00:13] iPredictable commented on #94
@aKalisch Cheers for the hack but could you just like teach us kinda how to use it, not like a video just a brief idea. Thanks again, if you would share any more everyone in the community would love it <3

[2016-10-02 00:26] BlackCrab commented on #94
@aKalisch How do you use it though? Sorry Im a complete noob, but I don't really know.

[2016-10-02 00:30] xxShrekxx commented on #94
@aKalisch Your multihack coming back?

[2016-10-02 01:38] DooubleO commented on #94
Guys, legit look at what he said.
"if you don't know what to do with these, then you're not ready or they aren't for you"
If you don't know how to use them, then learn to. If you cant take the time too then you shouldn't be using it.

[2016-10-02 05:34] aKalisch commented on #94
@DooubleO thx. Could not say it in better words.

Please feel free this source.
As I said, I don't will give support for it.

YOU need to implement it on ur OWN!

[2016-10-02 08:16] xxShrekxx commented on #94
@DooubleO @aKalisch But we just want a brief explanation or just where do we learn this? Why can't you just take 5 minutes out of your lives to help out people.

[2016-10-02 08:19] aKalisch commented on #94
@xxShrekxx goto www.unknowncheats.me and learn this stuff.
I for myself didn't even need to learn as I'm a senior PHP Developer. And the structure is almost the same as CPP. So you need to understand the structure of the code and then it should be easy to implement this code.

If you have no knowledge about cpp you should ignore my source and just use hacks that are done.

[2016-10-02 08:23] xxShrekxx commented on #94
@aKalisch I have no knowledge, but there are no other hacks that are "done" for osx. I've used the csgoglow, so I know how it is. Can you just please please please tell me an idea to what Im supposed to do with your source, so I can research it and learn.

[2016-10-02 08:27] DooubleO commented on #94
What said is said.
If you don't know what to do with it then you shouldn't use it.
Put in the time, put in the effort. Then you will be rewarded.

[2016-10-02 08:28] aKalisch commented on #94
@xxShrekxx put this in a into your code, and call it in the `while(true)` loop. Then get the offset `m_iFlags` offset (now it's 0x138). You also may need to initialize the Bunnyhop class.
Whenever you press and hold space and you hit the ground you should jump. Also note the comments in this source.

And what you've learned now? Exactly nothing I think.

[2016-10-02 08:29] xxShrekxx commented on #94
@DooubleO Thanks for being a complete asshole to the community. You can't even help someone get started, we want to put in the effort. But if you'd tell us where to start. Not just unkowncheats then maybe we could. Im sure someone helped you out when you started, but you have to be an asshole.

[2016-10-02 08:29] xxShrekxx commented on #94
@aKalisch Thank you so much.

[2016-10-02 08:30] xxShrekxx commented on #94
@aKalisch So I put I implement this in main right?

[2016-10-02 08:32] aKalisch commented on #94
@xxShrekxx please learn C++ before ask more questions. I think I will close this here as this is now Support board. Visit www.unknowncheats.me if you need more help.

[2016-10-02 08:38] xxShrekxx commented on #94
@aKalisch is this a good place to start http://www.unknowncheats.me/forum/counterstrike-global-offensive/129168-making-hacks-c.html

[2016-10-02 08:40] aKalisch commented on #94
@xxShrekxx yes ... but u need to translate it to Mac OS X as this is a Tutorial for Windows.
But you have all in this repository here.

[2016-10-02 08:43] xxShrekxx commented on #94
@aKalisch is there a specific term for the Mac OS X language? Like, whats the difference

[2016-10-02 08:45] xxShrekxx commented on #94
@aKalisch how about this guys series? https://www.youtube.com/watch?v=XgV76LapvGs

[2016-10-02 08:46] aKalisch commented on #94
@xxShrekxx The language is the same. But the functions and class methods are different. So you need to find the equivalents for OS X and translate the shown code.

When you notice my hint you can take all thing from this repository.

[2016-10-02 08:50] #94 closed

[2016-10-02 09:29] xxShrekxx opened #109 "How To Use Source Code?"
Hi, if anyone could help. How do you use source codes? Im trying to use @aKalisch Bhop script, I've been watching videos and looking at threads about C++ and coding for hours but I still don't know how. If anyone would help I would love you.
Thanks

[2016-10-02 09:38] aKalisch commented on #109
What the fuck? I closed the other issue to not spam the Issue function and you still open a new one.
This Issue tracker is for this repository and its code. And not for Code from other places.
Please respect that and search for other places (Hint: www.unknowncheats.me) where you can ask those questions.

Will close/delete every ISSUE that is related to that.
Thank you!

[2016-10-02 09:38] #109 closed

[2016-10-02 09:43] gabsens commented on #94
![spoonfeeding-teachers-021](https://cloud.githubusercontent.com/assets/17448712/19019847/6552abaa-8895-11e6-9bbf-e599d0c07d75.png)

[2016-10-02 10:17] BlackCrab opened #110 "BHOP Script"
How do you use the bhop script?

[2016-10-02 10:32] #110 closed

[2016-10-02 11:37] BlackCrab opened #111 "Paying 25$ To Whoever Teaches Me How To Use The BHOP Script"
@aKalisch please dont remove this

[2016-10-02 11:38] aKalisch commented on #111
@BlackCrab Why not? This questions have nothing to do with repository!

[2016-10-02 11:38] #111 closed

[2016-10-02 16:22] FlyingPotato69 opened #112 "Toggle?"
Toggle still isnt working for me, dunno if anyone else has the same issue, also if we edit the code toggle button to like v on its own is that possible or does it have to be a multi button press?

EDIT: In terminal it says that it is being toggled on and off however on screen it never toggles off

[2016-10-02 18:45] aKalisch commented on #112
I've tested it and it works for me. If you want toggle it with just `V` you need to remove the `if` statement `if (ctr && alt) { .. }` at line 226 ;-)

[2016-10-02 18:46] #112 closed

[2016-10-02 21:06] FlyingPotato69 commented on #112
All sorted now I changed the button to just v, thanks

[2016-10-05 19:57] brendon11 commented on #43
thx
@ggothreau

[2016-10-05 21:53] extrenebiibues commented on #112
it doesnt work

[2016-10-05 23:44] MyNameIsLebronJames commented on #112
@extrenebiibues maybe instead of "it doesnt work". Explain what doesn't, why doesn't it, what happens, why it happens, if your gonna say that, no one's gonna answer.

[2016-10-06 00:03] gazababon123 opened #113 "C4 Not Glowing"
Terrorist have been smoking c4, is there a way i can make it glow?

[2016-10-06 01:26] DooubleO commented on #113
https://www.youtube.com/watch?v=fCyDacGXgtI

[2016-10-06 04:27] aKalisch commented on #112
When I've tested it, it works.
Remember: The Hotkey is now `CTRL` + `ALT` + `V`

[2016-10-06 04:29] aKalisch commented on #113
For C4 glow you need to get the Entity and enable Glow for it.

Maybe I'll check that later.

[2016-10-06 06:24] acer2245 opened #114 "Can someone help me code?"
Do you think someone could send a link to a video on converting a Windows cheat to an OSX one? Or maybe just one on creating cheats for csgo

[2016-10-06 14:03] Moeinich commented on #49
@PredictEr I dont understand how this can stay undetected. Is mac really that different? Isn't VAC present at all on OSX and if it isn't, why wouldn't any of the larger cheat companies start making hacks for mac, surely its easy if it can't be detected..

[2016-10-06 14:27] loco41211 commented on #49
Are you guys sure about VAC not working on Mac? Has anyone dug into how VAC on Mac works? Maybe it does but has limitations that it doesn't have on windows.

[2016-10-06 15:33] extrenebiibues commented on #112
@Acornay i dont need to over complicate it, it doesn't work and he can see what could be the problem in this tiny thread

[2016-10-06 15:39] aKalisch commented on #112
It works definitly. Remember the Hotkey ;-)

[2016-10-06 17:11] aKalisch commented on #114
Wrong place. There are enough tutorials in the Internet. Research them.

[2016-10-06 17:11] #114 closed

[2016-10-07 00:37] Alanpxc opened #115 "Update"
Hello, csgo just updated, they renew their random code, can i ask where can i find that code?

[2016-10-07 01:04] Alanpxc commented on #115
Can someone help?

[2016-10-07 01:09] DooubleO commented on #115
Use the pattern scanner found here: github.com/gabsens/Pattern-scanner-for-OSX
Video By Gabens on how to use it: https://www.youtube.com/watch?v=aP99mdDzwQk

[2016-10-07 01:14] Alanpxc commented on #115
Thank you... but it still hard..

[2016-10-07 01:18] DooubleO commented on #115
If that is too hard for you, even with a tutorial then this hack isnt for you.

[2016-10-07 01:19] Alanpxc commented on #115
well, i understand, thank you

[2016-10-07 01:22] AdsL1221 commented on #115
uint64_t glowInfoOffset = 0x59e9c10;
uint64_t LocalPlayerBase = 0x51da2e8;
uint64_t playerBase = 0x5156bf8;

uint64_t m_iGlowIndex = 0xAC10;

[2016-10-07 09:30] aKalisch commented on #115
Fixed!

[2016-10-07 09:30] #115 closed

[2016-10-07 17:12] gazababon123 commented on #113
@DooubleO no, but that is only for when the c4 is planted, i want to know if it was just dropped, so it will be an advantage for me when i am in counter-terrorist.

[2016-10-07 17:55] iseekwonderful commented on #113
@gazababon123 It seems that due to the PVS (Potentially Visible Set) system of csgo, if the carrier of C4 or the drop position of the C4 isn't 'visible' to you, server won't send the information of C4 to you, than you can't glow the C4.
Now assume that server's PVS system think you can 'see' the C4, you can do this:
loop entities list -> get the classID of entity -> get the C4 -> glow it

[2016-10-07 18:01] DooubleO commented on #113
All i'm saying is if you need to depend on this hack to play the game, then you are down right terrible. Use the hack as a guide every now and then, otherwise you never get better.

[2016-10-08 01:49] gazababon123 commented on #113
@iseekwonderful yay thx :D i did it, thankyou so much :D

[2016-10-08 18:47] BlackCrab commented on #49
@Shadiezz @loco41211 Valve hasn't developed a proper VAC system for osx, and big companies aren't interested in mac osx hacks because not many coders know how to code mac hacks and 90% of the community uses windows.

[2016-10-08 20:34] Fury2211 commented on #113
Hello, how I can change skins? OR knife ? Maybe some code or program like Skin Changer?

[2016-10-08 20:35] Fury2211 opened #118 "Skin changing"
Hello, how I can change skins? OR knife ? Maybe some code or program like Skin Changer?

[2016-10-08 20:50] DooubleO commented on #118
Here is not the place to ask for something like this. Ask at UnKnoWnCheaTs.

[2016-10-08 20:56] #118 closed

[2016-10-08 21:02] acer2245 opened #119 "My in-game menu won't work anymore"
After I downloaded these cheats my shift tab doesn't allow me to open my in-game menu. Can anyone relate to this or give me a solution? (This could be a coincidence that the in-game menu stopped working at the same time as i downloaded this cheat)

[2016-10-09 01:15] sacredgeo commented on #119
They have nothing to do with each other. You can set this up yourself. Go to preferences -> In Game. Change it to something other than shift + tab, so you can see the score while walking. I use Alt + / which allows me to quickly do it with one hand.

[2016-10-09 01:25] extrenebiibues opened #120 "Toggle stops cheat from working"
i can toggle it on and off once or twice then it just stops working glow doesnt work anymore

[2016-10-09 03:57] deezysleazy opened #121 "after the upate"
so i tried using this after the update and it seems it has stopped working

[2016-10-09 04:07] bertrand2012 commented on #121
Redownload it because all of the offsets have changed

[2016-10-09 04:55] deezysleazy commented on #121
yeah man i tried to, still

[2016-10-09 05:05] DooubleO commented on #121
If you redownloaded it, make sure you remember to change it to 'Run with root' again.

[2016-10-09 09:52] Eggsdee opened #122 "[Windows]"
Does this work for windows, if it does... Can someone tell me how I can use it...

[2016-10-09 09:58] DooubleO commented on #122
Well, just try download xcode on your windows computer, let me know how that'll work out for you.
I'll give you a hint. It wont work.

[2016-10-09 10:56] bertrand2012 commented on #122
There are so many cheats on unknowncheats.me so have a look around there

[2016-10-09 11:39] acer2245 opened #123 "RCS for mac"
Anyone willing to share with me a rcs cheat for osx? I've been looking everywhere for one of these and just can't find one.

[2016-10-09 12:36] extrenebiibues commented on #123
why the fuck are people begging for this. An aimbot would be nice but why do you need RCS? YOU KNOW WHERE EVERYONE ON THE MAP IS GO LEARN IT OR SOMETHING WTF RECOIL CONTROL IS NOT HARD

[2016-10-09 12:38] #122 closed

[2016-10-09 12:38] #123 closed

[2016-10-09 20:30] #119 closed

[2016-10-09 20:36] acer2245 opened #124 "Is this a normal problem?"
Whenever i start the cheat and use it everything on my computer is fine but a while afterwards random stuff would happen such as my computer hold ing down shift, command etc without me actually pressing anything. Normal?

[2016-10-10 02:50] DooubleO commented on #124
Happens to me also, just restart the hack and you should be good to go.

[2016-10-10 09:57] AdsL1221 opened #125 "autoaim"
someone has auto aim, it works the same way as wall, I mean a XCODE file is compiled and then run with sudo, thanks

if you do not want to go public, you can send peterprinas@icloud.com, I do not know anything about programming : /

[2016-10-10 10:44] #89 closed

[2016-10-10 10:45] iseekwonderful commented on #125
seems if any one public his/her aimbot, you can find it in UC or github..

[2016-10-10 10:45] #125 closed

[2016-10-10 10:46] iseekwonderful commented on #124
yeah, but I find it difficult to debug this issue, just restart hack or re-enter the game

[2016-10-10 10:46] #124 closed

[2016-10-10 10:46] #113 closed

[2016-10-10 11:50] sacredgeo commented on #121
Use the pattern scanner to find the offsets yourself. It's still working.

[2016-10-11 00:40] MysticIridium opened #126 "FACEIT Walls?"
Just played my first game of FACEIT and it seems like I can only see the glow of players when there are no wall between us.

[2016-10-11 05:08] gabsens commented on #126
this is normal, Faceit sends limited information regarding other players (compared to a classic MM server)

[2016-10-11 07:30] NexieCSGO commented on #76
Happens to me too :/

[2016-10-11 11:31] FlyingPotato69 commented on #126
You can see them through some walls but its more distance effected than on mm so youll only be able to see people that are semi close

[2016-10-11 12:06] iseekwonderful commented on #126
So they have a much better PVS system?

[2016-10-11 12:06] iseekwonderful commented on #126
And do not use this in Faceit, 5E and B5

[2016-10-11 16:33] gabsens commented on #126
@iseekwonderful Faceit anticheat is a fork of Sourcemod anticheat.

The latter has some anti-wallhack feature with custom PVS https://bitbucket.org/anticheat/smac/wiki/Wallhack

[2016-10-12 11:56] FlyingPotato69 commented on #126
Ive used it for 28 games on faceit and no ban or nothing

[2016-10-12 17:53] gabsens commented on #126
@FlyingPotato69 yes, this wallhack specifically won't trigger an automatic ban from Faceit (since their anticheat is server-sided). Nevertheless, perfect bhop or perfect trigger and other such robotic hacks will.

[2016-10-12 18:11] AdsL1221 opened #127 "Question"
close please

[2016-10-12 19:31] gabsens commented on #127
?

[2016-10-12 21:05] columbusblue34 commented on #127
?

[2016-10-12 23:46] AdsL1221 opened #128 "Proposal"
I would pay a donation for this wall with aimbot, anyone is encouraged to realize my dream, attentive to your comments...

[2016-10-13 01:42] AdsL1221 commented on #128
some interested?

[2016-10-13 02:19] iseekwonderful commented on #127
?

[2016-10-13 02:42] AdsL1221 commented on #127
https://github.com/iseekwonderful/csgoGlow/issues/128

[2016-10-13 04:01] BlackCrab commented on #128
Hmu if you get anything, Willing to pay 50$ for a smooth aimbot

[2016-10-13 04:36] gabsens commented on #128
Github is not a marketplace. If you want to trade, go to https://hackforums.net/index.php

[2016-10-13 04:36] #128 closed

[2016-10-13 12:12] extrenebiibues opened #129 "Enhancement for Walls"
how can i change the colour depending on visibility of the player?

[2016-10-13 12:51] aKalisch commented on #129
Still a simple answer: You can't as long you don't implement Visibility checks into the hack.

To add visibility checks you need to implement a BSP parser.

[2016-10-13 12:51] #129 closed

[2016-10-13 12:53] #121 closed

[2016-10-13 12:53] #127 closed

[2016-10-13 13:36] iseekwonderful commented on #129
BSP parser is not enough, a additional Entity Parser and external visiable ray trace is needed

[2016-10-13 13:38] aKalisch commented on #129
@iseekwonderful yes i know. But a BSP parser is the first step when you are external.
You could also work with m_bSpotted and m_bSpottedByMask (but it's slow)

[2016-10-13 15:27] gabsens commented on #129
@aKalisch BSP parsing won't lead you anywhere near a usable aimbot

[2016-10-13 16:28] aKalisch commented on #129
@gabsens I've already implemented bsp parsing + TraceRay Checks into my Hack. Working like a charm.

[2016-10-13 16:36] aKalisch commented on #129
Using it for Glow Visibility and Aimbot. I think my Aimbot looks very legit as it works with closest bone to crosshair and some other checks. It picks the closest HITBOX and aims smooth (bezir curves) to it. After a period of ticks it locks off and gets the next best bone. With some good crosshairplacement it's almost headshot without looking obvious. But I will not release this because there are

[2016-10-13 16:37] gabsens commented on #129
@aKalisch you did achieve calls to the in-game TraceRay function ?

[2016-10-14 00:35] tkriews opened #130 "update new offsets"
New update has been released does anyone know the new updated offsets?

[2016-10-14 01:38] columbusblue34 commented on #130
i have no idea how to get the offsets so i am no help

[2016-10-14 02:41] DooubleO commented on #130
Do some digging before posting an issue. Really its not an issue but laziness.
But.
Use this.
https://github.com/gabsens/Pattern-scanner-for-OSX

[2016-10-14 02:51] ggothreau commented on #130
[code]

[2016-10-14 02:52] ggothreau commented on #43
Latest offsets as of Oct 13, 2016:

[code]

[2016-10-14 03:08] AdsL1221 commented on #130
dont work inferno, why?

[2016-10-14 03:32] columbusblue34 commented on #130
it dose work just played it

[2016-10-14 04:11] #130 closed

[2016-10-14 13:48] gazababon123 opened #131 "I know this isnt related, but this causes me bad feeling for others"
https://www.youtube.com/shared?ci=d2fl2IDmfP4 this guy 'fishyy' sells your hacks for 1/2 keys while we all know you make it

[2016-10-14 14:49] Eggsdee opened #132 "Any way of changing toggle button?"
Thanks.

[2016-10-14 15:04] FlyingPotato69 commented on #132
If you want toggle it with just V you need to remove the if statement if (ctr && alt) { .. } at line 226

[2016-10-14 18:04] BlackCrab commented on #131
Agreed, fuck that bitch

[2016-10-14 18:41] K2QGIT commented on #131
It was/is copyrighted if i'm correct? @iseekwonderful could take action to anyone.

*correction: @gabsens Pattern Scanner is

[2016-10-14 19:14] bertrand2012 commented on #132
Or you just press ctrl, alt and V

[2016-10-14 23:56] Freek3 commented on #131
May I share this: https://csgo.cheatsformacs.com/
is another site making money off this.

[2016-10-15 01:09] AdsL1221 opened #133 "new function?"
you can add this code psilent aimbot, to the code we already know here? I can copy and paste the code the main.cpp?

`bool IsAbleToShoot( CBaseEntity* pLocal )
{
    if( !pLocal )
        return false;

    if( !pLocal->GetActiveWeapon( )->IsValid( ) )
        return false;

    float m_flNextPrimaryAttack = g_Memory.Read< float >( pLocal->GetActiveWeapon( )->GetBaseWeapon( ) + Offsets::m_flNextPr

[2016-10-15 01:25] gazababon123 commented on #133
what is this for?...

[2016-10-15 01:32] gazababon123 opened #134 "new updt pls heLP"

[2016-10-15 02:51] gazababon123 commented on #134
pls give me new offset

[2016-10-15 03:09] iseekwonderful commented on #131
It seems I can't stop those stupid kids or ppl to use this to make money, the good thing now is that if ppl google a hack in mac they will see this repo.
b.t.w The reason why aimbot and Internal hack is not released is that one of my collaborators, a schoolmate think that these will be used in C&P and make money,

update AGPLv3 lisence.

[2016-10-15 03:13] AdsL1221 commented on #133
aimbot

[2016-10-15 03:16] gazababon123 commented on #133
how to use it, do i just copy paste it below the script?

[2016-10-15 04:13] bertrand2012 commented on #133
Can anyone confirm this

[2016-10-15 04:22] columbusblue34 commented on #134
uint64_t glowInfoOffset     = 0x59ec010;
uint64_t LocalPlayerBase    = 0x51dc6e8;
uint64_t playerBase         = 0x5158fe8;

[2016-10-15 04:23] columbusblue34 commented on #133
@iseekwonderful

[2016-10-15 04:25] aKalisch commented on #134
They are already commited!

[2016-10-15 04:25] #134 closed

[2016-10-15 04:28] aKalisch commented on #133
Wtf are u doing. We can see that you have no clue what to do with it.

This is code for internal hacks. Since we are external this will noch work at all!

[2016-10-15 04:28] #133 closed

[2016-10-15 08:11] BlackCrab commented on #131
@iseekwonderful so you wont ever release any other hacks? :(

[2016-10-15 08:15] BlackCrab commented on #131
@iseekwonderful I know these poor stupid kids are making money and credit off your work. But that shouldn't stop you from the shit you do to help the community.  Sell them yourself for all we care, the point is that you made the hack YOU made the impact.

[2016-10-15 09:03] Mike2445 commented on #131
Yes, of course he did this project.
CS:GO Glow Hack + Pattern Scanner - http://www.mpgh.net/forum/showthread.php?t=1011206
Another - http://fpslatino.net/forum/main-forum/counter-strike/tutoriales-ad/codding-source-ae/2532-open-source-simple-trigger-bot-y-esp-cs-go
Another - https://github.com/CoolOppo/Counter-Strike-Hacks
Another one with pattern scanner - https://github.com/BigMo/Zat-s-CSGO-Simp

[2016-10-15 11:05] iseekwonderful commented on #131
@Mike2445 Anything wrong? the lisence of `linux-csgo-external` is

so assume i copy all these codes and migrate to osx and set the lisence to AGPLv3, is there anything wrong?

Should I tell Valve that your VAC in OSX is awful and let me write a new one which is much better?
and without C&P?

[2016-10-15 11:05] #131 closed

[2016-10-15 12:35] Mike2445 commented on #131
@iseekwonderful  did i said that there is something wrong ? Nothing wrong, everything is fine. Your supporters or better belivers are just funny calling everyone kids and begging to upload new offsets, rotfl.

"Should I tell Valve that your VAC in OSX is awful and let me write a new one which is much better?
and without C&P?" - Yeah, i think they should revise their VAC on both linux and osx.

[2016-10-15 13:01] gabsens commented on #131
@Mike2445 I've repeatedly said the code on this repo is a proof-of-concept. At least he paved the way for more elaborate hacks, while you haven't contributed anything that I can see

[2016-10-15 17:05] AdsL1221 commented on #133
AHAHAHHA sorry, then if it is an internal code, we could do this

sv_cheats "1";
weapon_accuracy_nospread "1";
weapon_debug_spread_gap "1";
weapon_recoil_cooldown "0";
weapon_recoil_decay1_exp "99999";
weapon_recoil_decay2_exp "99999";
weapon_recoil_decay2_lin "99999";
weapon_recoil_scale "0";
weapon_recoil_suppression_shots "500";

[2016-10-15 17:21] columbusblue34 commented on #133
that is commands for a game with only friends or bot offline

[2016-10-15 17:23] columbusblue34 commented on #133
@aKalisch didn't you close this already, omg he is not smart

[2016-10-15 19:54] acer2245 commented on #132
Just start messing around with the code and see what you can find.

{
        if (keycode == keyCodeForKeyString("v")) {
            states = !states;
            printf("State Changed! %s\n", states ? "ON" : "OFF");
        }

I think this is it though.

[2016-10-16 05:07] GAMESTAND opened #135 "When Are you guys going to Put up aimbots?"

[2016-10-16 05:09] columbusblue34 commented on #135
there is no fov aimbots for mac that are external if you want one you half to code it youre self

[2016-10-16 05:10] columbusblue34 commented on #135
@aKalisch  @iseekwonderful  please close this

[2016-10-16 05:17] GAMESTAND commented on #135
Why can't you put up aimbots?

[2016-10-16 05:18] GAMESTAND commented on #135
do u guys know how to do it?

[2016-10-16 05:18] columbusblue34 commented on #135
please stop posting this there is no aimbot on osx

[2016-10-16 05:19] columbusblue34 commented on #135
and if there are you have to pay for it

[2016-10-16 07:02] #135 closed

[2016-10-16 07:14] aKalisch commented on #135
@GAMESTAND We dont put an Aimbot to it because there are some kids that steal this work and let other ppl pay for it.

[2016-10-17 07:41] acer2245 opened #136 "I hate people who sell these hacks"
Ok. So from what I am hearing, it is that we cannot be given an aimbot or rage bot or whatever because there are stupid people on the internet who will take this and sell it. I mean there has already been someone who is selling this hack and this infuriates me in the sense that these people are letting all of us down. Now I don't know if this would work but if you were to maybe give this in the ex

[2016-10-17 07:50] DooubleO commented on #136
Isnt a place to share thoughts. Go to a forum for that.

[2016-10-17 10:14] gazababon123 commented on #136
eh.. its a glowhack, there is no aimbot or shit in here.. i kno.. i know.. im also sad, but just enjoy the hack, if u want that you have to pay there is no way to get those scripts free, because mac is kinda... idk

[2016-10-17 10:51] bertrand2012 commented on #136
@gazababon123 know any websites?

[2016-10-17 10:59] zisirawu commented on #136
@acer2245 looks like the one on ... has triggerbot, not sure about aimbot tho... ~~maybe the paid version has aimbot too~~

Edit: paid version is the same as free trial, no aimbot, just triggerbot right now :(

[2016-10-17 16:22] gabsens commented on #136
Github is not a marketplace nor an advertising forum. If you want to trade or to find information about trade, go elsewhere.

If you want an aimbot or some other features so badly, **buy** yourself some **motivation**, learn C++ and  get information by browsing [Unknowncheats](https://www.unknowncheats.me/forum/counterstrike-global-offensive/) instead of getting scammed by other people.

If you're

[2016-10-18 00:40] ggothreau commented on #43
Latest offsets as of Oct 17, 2016:

[code]

[2016-10-18 00:45] GAMESTAND opened #137 "When there is a new update how can i fix it myself?"

[2016-10-18 00:50] swayamz commented on #137
Look at the issue called "CSGO Structs/Offsetts" Scroll to the bottom and you can find a good samaritan posted the new offsets 5 minutes ago

[2016-10-18 00:53] DooubleO commented on #137
To fix it yourself you need to go to https://github.com/gabsens/Pattern-scanner-for-OSX
Then watch the tutorial.

[2016-10-18 00:54] GAMESTAND commented on #137
bro thank you life saver

[2016-10-18 00:54] DooubleO commented on #137
Np

[2016-10-18 00:55] DooubleO commented on #137
Thankfully you wanted to find out how to fix it yourself, not to be lazy and just ask and wait for someone to do it for you

[2016-10-18 01:16] GAMESTAND commented on #137
Np

[2016-10-18 01:33] GAMESTAND commented on #137
I tried but it doesn't work

[2016-10-18 01:35] DooubleO commented on #137
Did you follow the steps correctly? If so it should work

[2016-10-18 01:36] DooubleO commented on #137
You can try this tutorial also.
https://www.youtube.com/watch?v=3kMyiZ5yuvE

[2016-10-18 02:48] tkriews opened #139 "new offsets"
Can someone please post the new updated offests?

[2016-10-18 02:48] #139 closed

[2016-10-18 02:48] tkriews opened #140 "Offsets"
Can someone please post the new offsets below?

[2016-10-18 03:07] swayamz commented on #137
Play on use promo code for free dollar

[2016-10-18 03:10] #140 closed

[2016-10-18 03:37] GAMESTAND commented on #137
Yo got it thank you

[2016-10-18 08:07] rawrchad opened #142 "New Offsets"
uint64_t glowInfoOffset     = 0x59ebf90;
uint64_t LocalPlayerBase    = 0x51dc668;
uint64_t playerBase         = 0x5158f68;

[2016-10-18 08:32] pcpaul1 opened #143 "Hack doset works now"
Hello, the new hack from 14.10 doesn't work since today ;(

what is the Problem?

Best Regards

[2016-10-18 08:36] rawrchad commented on #143
uint64_t glowInfoOffset     = 0x59ebf90;
uint64_t LocalPlayerBase    = 0x51dc668;
uint64_t playerBase         = 0x5158f68;

[2016-10-18 10:01] aKalisch commented on #137
I've implemented pattern scanning directly to my hack. I don't need to Update my Offsets when there is an update for CS:GO.

I'll maybe contact @gabsens for implementing some of his pattern scanner to csgoGlow.

[2016-10-18 11:07] ghost commented on #142
What do these do/how do you apply this?

[2016-10-18 11:07] ghost commented on #143
How do you apply this code?

[2016-10-18 12:44] pcpaul1 commented on #143
now ;D

[2016-10-18 13:04] Alanpxc commented on #143
![2016-10-18 9 04 07](https://cloud.githubusercontent.com/assets/22509854/19478795/e53fb7f8-9511-11e6-90c4-1bdc0d70d945.png)

[2016-10-18 19:14] sacredgeo commented on #142
@benehret Read the readme file. Watch the youtube video.

[2016-10-18 19:24] joejoepojoe commented on #142
@benehret open XCode, then go the the 'Wall' directory - and then click on main.cpp - in here you should see 3 lines very similar to the ones shown above just with a few differences, this is found close to the top and if you set them to these the walls should work fine.

[2016-10-18 19:28] joejoepojoe commented on #126
@FlyingPotato69 @gabsens  i used it for 3 games and got banned in my 3rd game? i wasnt using anything othe than this and wasnt just straightup looking through walls

[2016-10-18 20:49] #143 closed

[2016-10-18 20:49] #142 closed

[2016-10-18 20:50] #137 closed

[2016-10-18 22:18] MyNameIsLebronJames commented on #126
@joejoepojoe well, you definitely didn't get vac banned. 3 games? in a row? cause people can report you to overwatch

[2016-10-19 04:35] aKalisch commented on #136
@gabsens is right.
If u put some effort and time into coding you can simply create ur own aimbot.
All basics you need are in this repository. For all other informations you can watch tutorials on youtube or browse www.unknowncheats.me .

I did the same and have now a custom hack with legit aimbot and other stuff.

[2016-10-19 11:42] aKalisch commented on #136
You need some Netvars for an Aimbot:
- m_vecOrigin (Position on map)
- m_angRotation (The view angels)
- m_vecViewOffset (Eye Position)
- (optional) BoneMatrix for other Bones than head
- CClientState + SetViewAngles (for setting view angles)

To find the SetViewAngles you need todo the following. Read LocalPlayer + m_angRotation as float. Then Search for this value. Move ur Mouse, pick the value

[2016-10-19 11:59] PredictEr opened #144 "Trigger/Aim"
Would love if you'd share any other osx hacks, no other place has any other hack. As far as I know this is the only hack for mac out there publicly.

[2016-10-19 13:52] PredictEr opened #145 "Color Change When Behind Walls"
Is it possible if the color would change when its behind walls, and when the player is in the open? Like other premium hacks have the option that makes the players color change when they're peaking

[2016-10-19 14:56] extrenebiibues commented on #145
[https://github.com/iseekwonderful/csgoGlow/issues/129](Already made a issue about it)

[2016-10-19 18:07] joejoepojoe commented on #126
@Acornay nope, my steam is here: http://steamcommunity.com/id/d2dreamer1/

[2016-10-19 18:24] gabsens commented on #145
you need vischeck for that, not easy

[2016-10-19 19:29] extrenebiibues commented on #145
@gabsens where can i learn c++ for os x? Not like learning shit from UC where they tell u how to code 2 letters but like a proper tutorial. How did you learn?

[2016-10-19 19:31] gabsens commented on #144
head to unknowncheats or hackforums, not a suitable question for github

[2016-10-19 19:31] #144 closed

[2016-10-20 08:03] Moeinich commented on #126
@joejoepojoe Pretty stupid linking that here..

[2016-10-20 10:57] NexieCSGO commented on #145
@extrenebiibues
c++ runs on anything if coded correctly, if you need to learn the basics try a course on edx.

[2016-10-20 11:44] aKalisch opened #146 "CS:GO Memory Signatures"
I'll start this Topic to give you some patterns for CS:GO.

m_dwLocalPlayer:
sig: (Byte*)"\x89\xD6\x41\x89\x00\x49\x89\x00\x48\x8B\x1D\x00\x00\x00\x00\x48\x85\xDB\x74\x00"
mask: "xxxx?xx?xxx????xxxx?"
start: 0xB
offset: 0x4

m_dwEntityList:
sig: (Byte*)"\x48\x8D\x1D\x00\x00\x00\x00\x48\x89\x00\xE8\x28\xD6\x00\x00"
mask: "xxx????xx?xxx??"
start: 0x3
offset: 0x2C

m_dwGlowManager:
sig: (Byte*)"\x48\

[2016-10-20 16:01] aKalisch commented on #146
engine.dylib:

m_dwCClientState:
sig: (Byte*)"\x84\x6D\xE9\xFF\x0F\x1F\x00\x00\x55\x48\x89\xE5\x48\x8B\x05\x00\x00\x00\x00\x48\x83\xC0\x00\x5D\xC3\x66\x66\x66\x66\x66\x66\x2E\x0F\x1F\x84"
mask: "xxxxxx??xxxxxxx????xxx?xxxxxxxxxxxx"
start: 0xF
offset: 0x4

m_szGameDirectory:
sig:(Byte*)"\x48\x81\xEC\x00\x00\x00\x00\x48\x89\xF3\x49\x89\xFE\x4C\x8B\x2D\x9F\xDB\x66\x00\x49\x8B\x45\x00\x48\x89\x45\xD0\

[2016-10-20 16:32] iseekwonderful commented on #146
@aKalisch if possible, could u plz move these info to wiki?

[2016-10-20 16:59] aKalisch commented on #146
Yes sure. Will close this here as I've did it.

[2016-10-20 17:20] #146 closed

[2016-10-20 17:20] aKalisch commented on #146
Signatures will be found in the Wiki right now.

[2016-10-20 17:47] extrenebiibues commented on #145
@NexieCSGO i remember @aKalisch saying something about turning an aimbot from github into a working one for os x so im just wondering what he meant

[2016-10-20 20:53] sonicrules11 opened #147 "Team Shows"
Is it possible to show ur team in the walls

[2016-10-21 04:50] sacredgeo commented on #147
Yes. You'll see a section in the code that says:

[code]

Change it to:

[code]

This will make your team a light blue color. The interesting thing about showing your team is that you can see them through the entire map. I guess the server sends limited data on enemy players.

[2016-10-21 04:57] sacredgeo opened #148 "GameResources / ScoreboardBase"
Check out this thread: http://www.unknowncheats.me/forum/counterstrike-global-offensive/138066-scoreboards-beauty.html

Using Bit Slicer, I was able to find the memory addresses for score, kills, assists, deaths, health, armor, etc, for all players on the server. I want to find the offset for the scoreboard. I found the general area in memory viewer and did a byte array search. I found a few offse

[2016-10-21 05:00] sacredgeo commented on #145
@extrenebiibues I believe the main difference is the CSGO offsets for PC and Mac are different.

[2016-10-21 05:20] sacredgeo commented on #145
Sometimes it's hard to tell when someone is behind a wall or box. Especially in dark areas. I found that if I decreased the glow effect I could more easily distinguish visible players. Look for this line:

[code]

Change the 0.8f to something lower like 0.5f.

[2016-10-21 08:27] Noriaela commented on #147
Thank you!

[2016-10-21 10:38] sonicrules11 commented on #148
I'm really new to this type of stuff what would this do?

[2016-10-21 14:59] extrenebiibues commented on #148
this would be a good idea like blue base colour (Before being shot) if they are in the top 3 or top fragger

[2016-10-22 00:10] sonicrules11 opened #149 "Is it possible to make the ESP show Names"
Say it in the title is it possible?

[2016-10-22 07:28] gabsens commented on #149
it's possible but very tedious if you attempt that externally

[2016-10-22 08:11] #147 closed

[2016-10-22 10:35] joejoepojoe commented on #126
@Shadiezz I dont care much tbh, i admit i hack in chat everygame i play on it - i dont use it for actual playing

[2016-10-22 21:10] PredictEr opened #150 "Open Source"
Hi, I was wondering if anyone could tell me how to use an open source code. Im trying to implement a silent aimbot and bhop script which are both in mac osx. I've looked in unkowncheats for days now but I still can't exactly get it right. I know you guys are all busy and shit but I would really appreciate if anyone would help me out.

Thanks.

[2016-10-23 01:15] sacredgeo commented on #147
Changing it to this will have them start at light blue and the glow will change to purple as they lose health.

 Color color = {float((100 - health) / 200.0), float((health) / 100.0), (255 / 255), 0.5f};

[2016-10-24 03:36] sacredgeo commented on #148
If I find the address for my kills and subtract 0x1288 and find pointers to that address it returns the first two offsets listed above. I believe that is the start of the scoreboard.

I'm still doing testing. I've got it partially working. Using the code below:

[code]

Returns this in terminal: My kills: 16

So now I'm successfully able to read the scoreboard.

Starting at scoreAddress + 0x1288,

[2016-10-24 05:09] PredictEr opened #151 "Multihack"
Did you guys make this and these guys are selling it? Or are they legit?
http://csgo.cheatsformacs.com

[2016-10-24 06:51] Noriaela commented on #151
I'll test it out for you mate :D

[2016-10-24 07:02] Noriaela commented on #151
I'm messing with it atm and it seems like it has a trial type thing were you can only use/open it twice and then after you need to pay or put a seriel key in
Update: Well I cant tell you if it works because the idiots that made it like I said give you 2 chances to use it. If you wanna buy it go for it but be warned they may scam you.
Btw I never got and virus alert

[2016-10-24 09:14] iPredictable commented on #151
@sonicrules11 Update, I bought it and its legit. but its very rage hacky. and it already got 2 of my account untrusted banned.

[2016-10-24 09:25] stepucracr commented on #151
@PredictEr "but its very rage hacky" what do you mean with rage hacky? does it work? dont wanna keep fighting this code every time it breaks

[2016-10-24 09:59] bertrand2012 commented on #151
@PredictEr Have you already got a VAC?!

[2016-10-24 10:00] iPredictable commented on #151
@acer2245 Not VAC, untrusted. If you rage hack you get untrusted ban

[2016-10-24 10:01] stepucracr commented on #151
@PredictEr you mean play aggressively obvious? like killing everyone constantly with the aimbot? :P

[2016-10-24 10:03] iPredictable commented on #151
@stepucracr It works fine. The aimbot just locks on really hard. The wallhack is copied from this hack. It's really good. but the aimbot is really trippy, just locks on people across the map constantly

[2016-10-24 10:03] iPredictable commented on #151
@stepucracr yeah if you ragehack with any hack you get an untrusted ban. Its not from VAC or overwatch. even if ur in casual

[2016-10-24 10:04] PredictEr commented on #151
@stepucracr @acer2245 Its just that this multihack has such a simple aimbot, wh

[2016-10-24 10:04] iPredictable commented on #151
@stepucracr @acer2245 Its just that this multihack has such a simple aimbot, which isn't designed for legit play at all.

[2016-10-24 10:06] stepucracr commented on #151
@PredictEr ha I guess thats normal for most aimbots...

[2016-10-24 10:08] stepucracr commented on #151
@PredictEr does the bhop work well? I saw they have triggerbot too, have you tried it? Seems better for playing legit

[2016-10-24 10:09] bertrand2012 commented on #151
@PredictEr What happens on a untrusted ban? Like can you still play? What will be different?

[2016-10-24 10:26] Noriaela commented on #151
Ok I dont like buying hacks myself unless I know they are trusted thank you for telling me @PredictEr

[2016-10-24 10:31] stepucracr commented on #151
@sonicrules11 from what I understand, it's not the hack that's untrusted, it's the way that you use the hack. If you're going around zapping head to head in an instant, because you're aimbotting like cray, the game's going to pick up on it and will decide not to trust you. Im curious how the triggerbot works

[2016-10-24 10:37] aKalisch commented on #148
Why don't you just start a bot game. So you are Player 0 (entitylist + (0x20 \* 0)).

Kill a Bot and search for 1 in Bit Slicer ... repeat theses steps until there are just a few results left.
I'll investigate to it when I'm at home (working right now).

Also for Bot Games you can look into Wiki in the https://github.com/iseekwonderful/csgoGlow/wiki/Guides----Get-SetViewAngle-memory-address. Publi

[2016-10-24 10:44] Mike2445 commented on #151
Their hack is awesome. But  guys, rlly? don't use aimbot anywhere. it's easily noticeable, and it's super easy to get over-watched, if you want just have fun with aimbot, go play with bots on your local server, on where you can't get over-watched, i guess non-vac servers are not being over-watched.
Im playing around week on this, playing just a little and sometimes obviously, with options like: wa

[2016-10-24 10:50] sacredgeo commented on #148
Thank you for the reply. I've been trying with bots mostly, but also in other servers. I'm getting very close. It works at first. All the players start green, and when one gets a higher kill count he turns pink. It seems to be working, but then I notice other enemy players also turning pink as they get kills. Here's my code:

[code]

The problem has to be with the way I'm determining the highest s

[2016-10-24 11:01] aKalisch commented on #148
@sacredgeo Yes sure they get all pink... because highscore is a global variable.

[code]

you should change the code to:

[code]

[2016-10-24 11:06] sacredgeo commented on #148
Thanks again for the reply. Why read my own kills? In your code there is an "if statement" that skips the loop if the player is on the same team. I'm sorry for the confusion, but I removed that code from my post so it wouldn't be so large. I'm just looking at enemy kills. My goal is to highlight which enemy player has the most kills.

How can I fix the highscore variable? I'm afraid to put it in t

[2016-10-24 11:11] aKalisch commented on #148
Ahhh you want to color the player with the highest kill count on enemy team...

[code]

Pseudo code. But should work.

[2016-10-24 11:17] sacredgeo commented on #148
I'm going to test it now.

I'm just concerned because the "highscore = 0" is contained within your loop:

[code]

Won't it keep resetting to zero? Anyway I'll test it now. Thanks for your help!

[2016-10-24 11:18] stepucracr commented on #151
@Mike2445 you got it too? hows the triggerbot? does it work well, like with snipers?

[2016-10-24 11:18] aKalisch commented on #148
Have a look at the last sentence. This is PSEUDO CODE!

[2016-10-24 11:20] Mike2445 commented on #151
works incredibly well. But you must be playing fullscreen to make it work properly.

[2016-10-24 11:25] sacredgeo commented on #148
Ah I didn't notice that. I see what you're getting at with the code. I'm working on it now.

[2016-10-24 12:00] aKalisch commented on #151
PLease guys. If you don't know how anti-cheats work, don't talk about it.

As I noticed you get untrusted. As I further noticed their aimbot locks on without FOV and stuff like that.
So the untrusted might come that the aimbot sets view angles that don't exists (x angle > 89 || x angle < -89 || y angle > 180 || y angle < -180) ... that's one of the things that can get untrusted. Use the Aimbot pla

[2016-10-24 12:04] aKalisch commented on #151
@Mike2445 I bet I was overwatched so many times on my way from MG1 to DMG but never get a Ban. Playing with Aimbot (yeah on Mac). Also I play prime matchmaking without any problems.

A good and legit aimbot will not be noticed by overwatch, too... Remember Overwatch uses Tick 32 Demos. If your Aimbot is almost legit the rest will do Tick32 ;-)

One more Hint: Playing against Bots will not prevent

[2016-10-24 12:17] Mike2445 commented on #151
@aKalisch  Actually i have been playing with aimbot on local server with bots, without insecure flag. Everything was on as well achievements and i did dont get banned while aimbot did pretty crazy things.

[2016-10-24 12:21] Acornay commented on #151
If anyone wants a discount if they're buying the hack, go ahead and ask me.

[2016-10-24 12:49] #151 closed

[2016-10-24 12:50] #150 closed

[2016-10-24 12:50] #149 closed

[2016-10-24 12:50] #136 closed

[2016-10-24 14:41] iPredictable commented on #151
@aKalisch u ever gonna release that smooth aimbot of urs?

[2016-10-24 14:43] iPredictable commented on #145
@sacredgeo u make os x hacks too?

[2016-10-24 14:59] aKalisch commented on #151
1 simple word: NO!
When I'll release something aimbot like i'll just release a source. You need to implement it urself.

BUT! This "issue" is closed. So stop discussing!

[2016-10-24 16:33] Switcherz opened #152 "Support Français & informations"
Bonjour,
Tout d'abord merci pour le boulot à toute l'équipe c'est fantastique. Je voudrais savoir si vous aviez un support Français, j'ai vue que Gabsens était français.

Je voulais savoir si il y avait une app premium pour garantir ce wall hack ?

Merci pour vos réponses,
Et bon boulot !

[2016-10-24 18:32] PredictEr commented on #152
Fuck off mate.

[2016-10-24 19:57] acer2245 commented on #152
@PredictEr Chill out brother

[2016-10-24 20:39] parhxm commented on #49
So is this not vaccable? I won't get vac banned for this?

[2016-10-24 23:05] sacredgeo commented on #145
@PredictEr No but I like playing with the code. I know some basics of programming.

[2016-10-24 23:19] Noriaela commented on #152
Qu'entendez-vous par la prime?

[2016-10-24 23:22] sacredgeo commented on #152
@PredictEr What's the problem? If you use google translate you can see his message was very friendly.

[2016-10-24 23:29] sonicrules11 commented on #152
Yeah thats what I was using to translate it :D

[2016-10-25 01:44] sacredgeo commented on #148
I got it working. I feel like I'm doing it rather inefficiently, but it's working for now.

 I gave the best enemy player this color scheme, which goes from blue -> purple -> pink as they lose health:

Color color = {float((100 - health) / 100.0),  (0 / 255), float((health) / 100.0), 0.50f};

It even works if they take over a bot.

[2016-10-25 04:01] PredictEr commented on #152
@sacredgeo @sonicrules11 @acer2245 Its all banter, Im joking

[2016-10-25 05:04] bertrand2012 commented on #148
@sacredgeo I like the idea i just want to add my own touch onto it so it suits me. Also where do I find the code?

[2016-10-25 06:49] sacredgeo commented on #148
#include <iostream>
#include "Utils.hpp"
#include "Utils.cpp"
#include <ApplicationServices/ApplicationServices.h>

uint64_t glowInfoOffset     = 0x59ebf90;
uint64_t LocalPlayerBase    = 0x51dc668;
uint64_t playerBase         = 0x5158f68;

uint64_t m_iGlowIndex       = 0xAC10;

//extra
uint64_t scoreBase          = 0x50E2310;
int highscore                = 0;

bool statBool = true;

bool ctr = fal

[2016-10-25 06:50] sacredgeo commented on #148
Leave me your email and I'll send it. It's too large to post here.

[2016-10-25 06:50] acer2245 commented on #148
sayerbailey@gmail.com

[2016-10-25 06:50] aKalisch commented on #152
There is no premium app for this. This is open source and 100% free.

[2016-10-25 07:53] PredictEr commented on #152
@aKalisch Sorry im not sorry, fuck off nerd.

[2016-10-25 08:06] aKalisch commented on #152
In the future you want help?

Not from me anymore.
Bye kid ;-)

[2016-10-25 08:06] #152 closed

[2016-10-25 08:07] aKalisch commented on #148
Why don't you just create a gist out of it?

[2016-10-25 08:31] sacredgeo commented on #148
Done! https://github.com/sacredgeo/csgoGlow

I left several comments in the code, explaining what each new part does.

@aKalisch This code works, but if you can improve it, please let me know. I'm a terrible programmer.

@acer2245 What changes are you thinking about making?

[2016-10-25 08:57] bertrand2012 commented on #148
@sacredgeo oh only small changes like the colour not being a whole new colour but maybe a darker green or something like that. It was only an idea but im definitely going to give yours a run. Thanks for implementing this btw.

[2016-10-25 09:03] sacredgeo commented on #148
@acer2245 Have fun with it. I thought a long time about what color to make them. I like it being a gradient that changes with the health. Experiment with it and let me know what you come up with.

No need to thank me. It was only possible due to aKlisch, gabsens and iseekwonderful.

[2016-10-25 09:48] sacredgeo commented on #148
I think this part:

       if(highscore < 2){
            Color color = {float((100 - health) / 100.0), float((health) / 100.0), 0.0f, 0.55f};
            applyGlowEffect(task, startAddress, glowIndex, color);
       }else if(highscore <= playerKills){
            Color color = {float((100 - health) / 100.0),  (0 / 255), float((health) / 100.0), 0.55f};
            applyGlowEffect(task, startAddre

[2016-10-25 12:01] sonicrules11 opened #153 "Counter Strike Source"
Does anyone know if there is a way to port this to CS:S by any chance?

[2016-10-25 12:19] gabsens commented on #153
The engine is almost exactly the same, there should be very little difference...

[2016-10-25 12:41] extrenebiibues commented on #153
dont cheat on such an old game man its just sad

[2016-10-25 16:36] aKalisch commented on #153
Due to the fact CS:Source is 32 Bit you need to compile it in 32 Bit. Also you need to port all 64 Bit stuff (uint64 addresses) to 32 bit.
I also think that glow is working different in CS Source (does it have glow?).

[2016-10-25 16:44] iPredictable commented on #148
@sacredgeo can u post the full code bro?

[2016-10-25 19:41] bertrand2012 commented on #148
@PredictEr https://github.com/sacredgeo/csgoGlow

[2016-10-25 23:53] GreyWolf25 opened #154 "New Update"
Can anyone upload the new offsets much appreciated assuming csgo updated today there is a new offset?

[2016-10-25 23:57] columbusblue34 commented on #154
hold on wait for me to find them

[2016-10-25 23:59] GreyWolf25 commented on #154
cheers @columbusblue34

[2016-10-26 00:00] columbusblue34 commented on #154
yep

[2016-10-26 00:02] GreyWolf25 commented on #154
soo any luck? @columbusblue34

[2016-10-26 00:06] qitongsun commented on #154
Gotta love communism and the people in this place

[2016-10-26 00:07] columbusblue34 commented on #154
uint64_t glowInfoOffset     = 0x59ed160;
uint64_t LocalPlayerBase    = 0x51dd828;
uint64_t playerBase         = 0x515a128;

[2016-10-26 00:07] columbusblue34 commented on #154
there you goo

[2016-10-26 00:07] columbusblue34 commented on #154
@GreyWolf25

[2016-10-26 00:09] qitongsun commented on #154
does anyone know how to change the offsets by ourselves

[2016-10-26 00:16] GreyWolf25 commented on #154
THANK U @columbusblue34

[2016-10-26 00:16] Switcherz commented on #154
Hello, it's safe to play with the new update or we must wait update ? Thanks for u jobs teams !

[2016-10-26 00:25] MyNameIsLebronJames commented on #154
@Switcherz it's safe as long as you don't get overwatched? xD

[2016-10-26 00:33] columbusblue34 commented on #154
@Switcherz just update the code then it will be safe just dont be obvious

[2016-10-26 00:38] Switcherz commented on #154
@Acornay Nop i'm not overwatched :p And VAC is not sea this code open in my OSX ?

@columbusblue34 Ok thanks i  download a code, it's was updated ? I have no see them

Thanks u my friends, you have not à link for dotation for u works ?

[2016-10-26 00:39] columbusblue34 commented on #154
hold on

[2016-10-26 00:40] columbusblue34 commented on #154
ill make a file for you

[2016-10-26 00:42] Switcherz commented on #154
OK thanks, he'll get what's different?

[2016-10-26 00:43] columbusblue34 commented on #154
yes ill send it to you

[2016-10-26 00:44] columbusblue34 commented on #154
[csgoGlow-master.zip](https://github.com/iseekwonderful/csgoGlow/files/552095/csgoGlow-master.zip)
download this and do what you would for the other ones

[2016-10-26 00:45] Switcherz commented on #154
Ok thank lot, and is update off Glow ? What is the difference with that on the post?

[2016-10-26 00:48] Switcherz commented on #154
Ok thanks i see the difference, it's a code you have say later in this post. Thanks for update. You have links for give you $, ill like your job for this hack :)

[2016-10-26 00:49] qitongsun commented on #154
clombus ur a life saver

[2016-10-26 00:50] qitongsun commented on #154
columbus the file.zip isnt opening

[2016-10-26 00:51] Switcherz commented on #154
Yes @columbusblue34 u are life saver !!
@qitongsun is good for me, i have open it

[2016-10-26 00:51] columbusblue34 commented on #154
it should m8
@Switcherz you could send me cs skins lol

[2016-10-26 00:52] qitongsun commented on #154
its strange

[2016-10-26 00:52] columbusblue34 commented on #154
what is???

[2016-10-26 00:53] columbusblue34 commented on #154
hold on im fixing it

[2016-10-26 00:53] Switcherz commented on #154
@columbusblue34 I don't have good skins to change but  i can buy one for u with pleasure ;) Can u give me id in private ?

[2016-10-26 00:53] columbusblue34 commented on #154
yes

[2016-10-26 00:54] columbusblue34 commented on #154
@Switcherz just add me

[2016-10-26 00:55] Switcherz commented on #154
@columbusblue34 who ? Give me id, i can just fallow u here

[2016-10-26 00:56] columbusblue34 commented on #154
okay fallow and send me a message

[2016-10-26 00:56] columbusblue34 commented on #154
or just add me here

[2016-10-26 00:56] columbusblue34 commented on #154
http://steamcommunity.com/profiles/76561198336127474/

[2016-10-26 00:56] Switcherz commented on #154
I can't send u a message on GitHub ...

[2016-10-26 00:58] columbusblue34 commented on #154
add me i sent the link

[2016-10-26 01:07] MyNameIsLebronJames commented on #154
@Switcherz do you have Skype?

[2016-10-26 01:10] columbusblue34 commented on #154
@Acornay hes french

[2016-10-26 01:11] MyNameIsLebronJames commented on #154
@Switcherz As-tu Skype? J'ai quelque chose qui va vous faire super heureux!

[2016-10-26 01:18] Switcherz commented on #154
@Acornay Yes you can add me

[2016-10-26 03:55] sacredgeo opened #155 "I've implemented no-flash"
If this is inappropriate for github please remove it.

I've added a no-flash. Here's the code. You just need to find the flash offset. I did it with Bit Slicer in about 20 minutes.

[code]

This was much easier than I expected. I'm trying to play with the code so it doesn't completely remove the flash, but just reduces it. No luck so far.

Also, does anyone know if this method is VAC detectable? T

[2016-10-26 04:10] veb commented on #155
what was the offset that you found? I'll give this a try.

[2016-10-26 05:15] iPredictable commented on #155
@sacredgeo you're really helping out this simple glow hack bro. Thanks a lot

[2016-10-26 05:28] sacredgeo commented on #155
@PredictEr The hack was already amazing. I'm just adding small tweaks.

@veb 0xABE4

I've been reading on unknown cheats about some offsets called flashAlpha (m_flFlashMaxAlpha) and flashDuration (m_flFlashDuration). I'm not sure if the offset I've found is one of those. If you find flashAlpha you can specify the transparency, which seems like the best option.

[2016-10-26 05:37] veb commented on #155
Perfect! Works well.

[2016-10-26 05:43] ggothreau commented on #43
Latest offsets as of Oct 25, 2016:

[code]

[2016-10-26 05:46] sacredgeo commented on #155
@veb Awesome. Are you good with Bit Slicer? Can you help me find the m_flFlashMaxAlpha offset? Complete no-flash isn't ideal because sometimes you won't even know if you were flashed. Overwatch will catch that. I really want it reduced by like 75%.

I read that m_flFlashMaxAlpha and m_flFlashDuration are 4 bytes apart, and found from the Local Player offset. I've found 0xABE4, 0xABE8, and 0xABEC a